
@{
    Html.RenderPartial("NaijaReviewHeader");
}


@{
    ViewBag.Title = "MagazineArchive";
    
}

<div id="" class="component" data-order="3" data-type="static-content" data-moveable="false" data-params="document=mag-page-poster-header">
    <section class="section clearfix">    <div class="row">     <div class="content-area--wide column">      <div class="row">       <div class="small-11 medium-9 column mt-large2 mbs prm">        <h1 class="navigation-header xxxlarge-hed subheader line-height-very-tight lighter-gray mll hide-for-small nowrap">The Magazine</h1>        <h1 class="navigation-header subheader line-height-very-tight lighter-gray hide-for-medium-up nowrap">The Magazine</h1>       </div>       <div class="medium-3 column hide-for-small phn">        <personalization-placement class="personalization-placement" data-placement-id="subscription_engage">         <div class="container mvl">          <div class="text-center mvl">           <div class="loading mrl is-inline-block"><div class="pie rotation"></div><div class="pie filler"></div><div class="mask"></div></div>          </div>         </div>        </personalization-placement>       </div>      </div>     </div>    </div>   </section>
</div>
<div id="" class="component" data-order="4" data-type="webscript" data-moveable="false" data-params="region=magazine-landing">
    <section class="backdrop-lightest">
        <div class="row">
            <div class="content-area column mtl">
                <div class="flex-row-medium">
                    <figure class="current-issue medium-3 mts mbl mrl">
                        <a href="/archive-toc/BR1706">
                            <img src="/resources/images/article_assets/2017/10/BR1706_500.png" alt="November–December 2017">
                        </a>
                    </figure>
                    <div>
                        <div class="eyebrow hbrgray font-light mts mbm"><strong>Current</strong> Issue</div>
                        <div class="card mtn">
                            <h2 class="mvn">November–December 2017</h2>
                        </div>
                        <div class="dek text-gray-light mts">
                            <p>Launching Successful Leaders: How to make sure your most promising people reach their highest potential</p>
                        </div>
                        <div class="eyebrow hbr-gray mtl">Featuring</div>
                        <ul class="no-bullet font-national tidy-list mbs">
                            <li class="mtm dark-gray"><a href="/2017/11/why-every-organization-needs-an-augmented-reality-strategy">Why Every Organization Needs an Augmented Reality Strategy</a></li>
                            <li class=" dark-gray"><a href="/2017/11/the-best-performing-ceos-in-the-world-2017">The Best-Performing CEOs in the World 2017</a></li>
                            <li class=" dark-gray"><a href="/2017/11/stop-doubling-down-on-your-failing-strategy">Stop Doubling Down on Your Failing Strategy</a></li>
                            <li class=" dark-gray"><a href="/2017/11/are-you-suited-for-a-start-up">Are You Suited for a Start-Up?</a></li>
                        </ul>

                        <div><p class="button--black mtm expand-when-small">@Html.ActionLink("TABLE OF CONTENTS", "MagazineTableContent")</p></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="content-area column mtl">
                <div class="row">
                    <div class="small-12 medium-4 column">
                        <h1 class="hbrgray subheader">The Archive</h1>
                    </div>
                    <div class="small-12 medium-7 column end">
                        <div class="mag-search-container clearfix">
                            <form action="/search" method="get" js-target="search-form">
                                <input name="N" type="hidden" value="0 4294967061">
                                <input id="search" class="mag-search-form" name="Ntt" type="search" placeholder="Find a specific article">
                                <span class="search-form-magnify"></span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <stream-list class="stream-list" data-ads-enabled="false" data-stream-endpoint="magazine" data-allow-unlimited="true">
            <ul>
                <li class="stream-entry">
                    <div class="row">
                        <div class="content-area column">
                            <div class="flex-row-medium">
                                <figure class="magazine-cover medium-3 large-2 mts mbm mrl">
                                    <a href="/archive-toc/BR1705">
                                        <img src="/resources/images/article_assets/2017/08/BR1705_500.png" alt="September–October 2017">
                                    </a>
                                </figure>
                                <div>
                                    <div class="card mtn">
                                        <a href="/archive-toc/BR1705"><h2 class="mvn">September–October 2017</h2></a>
                                    </div>
                                    <div class="dek text-gray-light mts">
                                        <p>The Overcommitted Organization: How to Avoid Team Burnout</p>
                                    </div>
                                    <div class="eyebrow hbr-gray mbm mtl">Featuring</div>
                                    <ul>
                                        <li class="mtm dark-gray"><a href="/2017/09/how-i-remade-ge">How I Remade GE</a></li>
                                        <li class=" dark-gray"><a href="/2017/09/happiness-traps">Happiness Traps</a></li>
                                        <li class=" dark-gray"><a href="/2017/09/managing-our-hub-economy">Managing Our Hub Economy</a></li>
                                        <li class=" dark-gray"><a href="/2017/09/could-your-personality-derail-your-career">Could Your Personality Derail Your Career?</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="stream-entry">
                    <div class="row">
                        <div class="content-area column">
                            <div class="flex-row-medium">
                                <figure class="magazine-cover medium-3 large-2 mts mbm mrl">
                                    <a href="/archive-toc/BR1704">
                                        <img src="/resources/images/article_assets/2017/06/BR1704_500.png" alt="July–August 2017">
                                    </a>
                                </figure>
                                <div>
                                    <div class="card mtn">
                                        <a href="/archive-toc/BR1704"><h2 class="mvn">July–August 2017</h2></a>
                                    </div>
                                    <div class="dek text-gray-light mts">
                                        <p>The Truth About Globalization: What Brexit, Trump, and the tide of nationalism really mean for business</p>
                                    </div>
                                    <div class="eyebrow hbr-gray mbm mtl">Featuring</div>
                                    <ul>
                                        <li class="mtm dark-gray"><a href="/2017/07/stop-the-meeting-madness">Stop the Meeting Madness</a></li>
                                        <li class=" dark-gray"><a href="/2017/07/why-cmos-never-last">Why CMOs Never Last</a></li>
                                        <li class=" dark-gray"><a href="/2017/07/being-the-boss-in-brussels-boston-and-beijing">Being the Boss in Brussels, Boston, and Beijing</a></li>
                                        <li class=" dark-gray"><a href="/2017/07/the-science-of-pep-talks">The Science of Pep Talks</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="stream-entry">
                    <div class="row">
                        <div class="content-area column">
                            <div class="flex-row-medium">
                                <figure class="magazine-cover medium-3 large-2 mts mbm mrl">
                                    <a href="/archive-toc/BR1703">
                                        <img src="/resources/images/article_assets/2017/04/BR1703.png" alt="May–June 2017">
                                    </a>
                                </figure>
                                <div>
                                    <div class="card mtn">
                                        <a href="/archive-toc/BR1703"><h2 class="mvn">May–June 2017</h2></a>
                                    </div>
                                    <div class="dek text-gray-light mts">
                                        <p>What Great CEOs Do Differently: The behaviors that set the best leaders apart</p>
                                    </div>
                                    <div class="eyebrow hbr-gray mbm mtl">Featuring</div>
                                    <ul>
                                        <li class="mtm dark-gray"><a href="/2017/05/whats-your-data-strategy">What’s Your Data Strategy?</a></li>
                                        <li class=" dark-gray"><a href="/2017/05/neurodiversity-as-a-competitive-advantage">Neurodiversity as a Competitive Advantage</a></li>
                                        <li class=" dark-gray"><a href="/2017/05/above-all-acknowledge-the-pain">“Above All, Acknowledge the Pain”</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="stream-entry">
                    <div class="row">
                        <div class="content-area column">
                            <div class="flex-row-medium">
                                <figure class="magazine-cover medium-3 large-2 mts mbm mrl">
                                    <a href="/archive-toc/BR1702">
                                        <img src="/resources/images/article_assets/2017/02/BR1702.png" alt="March–April 2017">
                                    </a>
                                </figure>
                                <div>
                                    <div class="card mtn">
                                        <a href="/archive-toc/BR1702"><h2 class="mvn">March–April 2017</h2></a>
                                    </div>
                                    <div class="dek text-gray-light mts">
                                        <p>The New Science of Teamwork: Understanding how to meld different work styles will help you manage your team&#8212;and yourself&#8212;better.</p>
                                    </div>
                                    <div class="eyebrow hbr-gray mbm mtl">Featuring</div>
                                    <ul>
                                        <li class="mtm dark-gray"><a href="/2017/03/bursting-the-ceo-bubble">Bursting the CEO Bubble</a></li>
                                        <li class=" dark-gray"><a href="/2017/03/whats-the-value-of-a-like">What’s the Value of a Like?</a></li>
                                        <li class=" dark-gray"><a href="/2017/03/strategy-in-the-age-of-superabundant-capital">Strategy in the Age of Superabundant Capital</a></li>
                                        <li class=" dark-gray"><a href="/2017/03/surviving-ma">Surviving M&A</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="stream-entry">
                    <div class="row">
                        <div class="content-area column">
                            <div class="flex-row-medium">
                                <figure class="magazine-cover medium-3 large-2 mts mbm mrl">
                                    <a href="/archive-toc/BR1701">
                                        <img src="/resources/images/article_assets/2016/12/BR1701.png" alt="January–February 2017">
                                    </a>
                                </figure>
                                <div>
                                    <div class="card mtn">
                                        <a href="/archive-toc/BR1701"><h2 class="mvn">January–February 2017</h2></a>
                                    </div>
                                    <div class="dek text-gray-light mts">
                                        <p>Cumulative Advantage: How to Win and Keep Customers</p>
                                    </div>
                                    <div class="eyebrow hbr-gray mbm mtl">Featuring</div>
                                    <ul>
                                        <li class="mtm dark-gray"><a href="/2017/01/curing-the-addiction-to-growth">Curing the Addiction to Growth</a></li>
                                        <li class=" dark-gray"><a href="/2017/01/the-neuroscience-of-trust">The Neuroscience of Trust</a></li>
                                        <li class=" dark-gray"><a href="/2017/01/kick-ass-customer-service">Kick-Ass Customer Service</a></li>
                                        <li class=" dark-gray"><a href="/2017/01/the-truth-about-blockchain">The Truth About Blockchain</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="stream-entry">
                    <div class="row">
                        <div class="content-area column">
                            <div class="flex-row-medium">
                                <figure class="magazine-cover medium-3 large-2 mts mbm mrl">
                                    <a href="/archive-toc/BR1612">
                                        <img src="/resources/images/article_assets/2016/11/BR1612.png" alt="December 2016">
                                    </a>
                                </figure>
                                <div>
                                    <div class="card mtn">
                                        <a href="/archive-toc/BR1612"><h2 class="mvn">December 2016</h2></a>
                                    </div>
                                    <div class="dek text-gray-light mts">
                                        <p>Where to Find Hypergrowth: &#8220;Frontier economies&#8221; may be risky, but they offer big rewards </p>
                                    </div>
                                    <div class="eyebrow hbr-gray mbm mtl">Featuring</div>
                                    <ul>
                                        <li class="mtm dark-gray"><a href="/2016/12/the-secrets-of-great-ceo-selection">The Secrets of Great CEO Selection</a></li>
                                        <li class=" dark-gray"><a href="/2016/12/fixing-discrimination-in-online-marketplaces">Fixing Discrimination in Online Marketplaces</a></li>
                                        <li class=" dark-gray"><a href="/2016/12/do-you-hate-your-boss">Do You Hate Your Boss?</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="stream-entry">
                    <div class="row">
                        <div class="content-area column">
                            <div class="flex-row-medium">
                                <figure class="magazine-cover medium-3 large-2 mts mbm mrl">
                                    <a href="/archive-toc/BR1611">
                                        <img src="/resources/images/article_assets/2016/10/BR1611.png" alt="November 2016">
                                    </a>
                                </figure>
                                <div>
                                    <div class="card mtn">
                                        <a href="/archive-toc/BR1611"><h2 class="mvn">November 2016</h2></a>
                                    </div>
                                    <div class="dek text-gray-light mts">
                                        <p>What Really Keeps CEOs Awake at Night: We hear from the leaders who top our 2016 list of the world&#8217;s best CEOs</p>
                                    </div>
                                    <div class="eyebrow hbr-gray mbm mtl">Featuring</div>
                                    <ul>
                                        <li class="mtm dark-gray"><a href="/2016/11/right-tech-wrong-time">Right Tech, Wrong Time</a></li>
                                        <li class=" dark-gray"><a href="/2016/11/lets-not-kill-performance-evaluations-yet">Let’s Not Kill Performance Evaluations Yet</a></li>
                                        <li class=" dark-gray"><a href="/2016/11/beating-burnout">Beating Burnout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- load more -->
                <li class="stream-entry">
                    <div class="row">
                        <div class="content-area column">
                            <div class="load-ten-more" js-target="load-ten-more">
                                <a href="#" js-target="load-ten-more-link">
                                    <i class="icon icon-load-more mrs"></i> <strong>Load more items</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </stream-list>
    </section>
</div>
<div id="" class="component" data-order="8" data-type="static-content" data-moveable="false" data-params="document=archive-search">
    <section class="section ptl backdrop-archive">  <div class="row">   <div class="content-area column">    <div class="row">     <div class="medium-5 column mtl">      <h1 class="font-heavy white mtl">Browse the Full Archive</h1>     </div>     <div class="medium-7 column ptm">      <find-issue>       <form>        <div class="row">         <div class="small-12 column mts">          <div class="slug inverted mvs">FIND A SPECIFIC ISSUE</div>         </div>        </div>        <div class="row collapse">         <div class="small-4 medium-4 column prs">          <select class="year-select mbs">           <optgroup label="YEAR">            <option selected>2014</option>            <option>2013</option>            <option>2012</option>            <option>2011</option>            <option>2010</option>            <option>2009</option>            <option>2008</option>            <option>2007</option>            <option>2006</option>            <option>2005</option>            <option>2004</option>            <option>2003</option>            <option>2002</option>            <option>2001</option>            <option>2000</option>            <option>1999</option>            <option>1998</option>            <option>1997</option>            <option>1996</option>            <option>1995</option>            <option>1994</option>            <option>1993</option>            <option>1992</option>            <option>1991</option>            <option>1990</option>            <option>1989</option>            <option>1988</option>            <option>1987</option>            <option>1986</option>            <option>1985</option>            <option>1984</option>            <option>1983</option>            <option>1982</option>            <option>1981</option>            <option>1980</option>            <option>1979</option>            <option>1978</option>            <option>1977</option>            <option>1976</option>            <option>1975</option>            <option>1974</option>            <option>1973</option>            <option>1972</option>            <option>1971</option>            <option>1970</option>            <option>1969</option>            <option>1968</option>            <option>1967</option>            <option>1966</option>            <option>1965</option>            <option>1964</option>            <option>1963</option>            <option>1962</option>            <option>1961</option>            <option>1960</option>            <option>1958</option>            <option>1957</option>            <option>1956</option>           </optgroup>          </select>         </div>         <div class="small-8 medium-6 column prs">          <select class="month-select mbs">           <optgroup label="MONTH">            <option>JANUARY-FEBRUARY</option>            <option>MARCH</option>            <option>APRIL</option>            <option>MAY</option>            <option>JUNE</option>            <option>JULY-AUGUST</option>            <option>SEPTEMBER</option>            <option>OCTOBER</option>            <option>NOVEMBER</option>            <option selected>DECEMBER</option>           </optgroup>          </select>         </div>         <div class="small-12 medium-2 column prs">          <button class="button--form dark-gray inverted expand-when-small mbs" type="submit" disabled>GO</button>         </div>        </div>       </form>      </find-issue>    </div>    </div>    <div class="row">     <div class="small-12 column"><img src="/resources/images/2014/archive-image.png" alt=""></div>    </div>   </div>  </div> </section>
</div>
<div id="" class="component" data-order="96" data-type="webscript" data-moveable="false" data-params="region=openx;location=partner-center">
    <section class="partner-center row clearfix">
        <div class="content-area column cushion">
            <div class="row">
                <div class="small-12 column">
                    <h4 class="section-label">Partner Center</h4>
                </div>
            </div>
            <div class="row collapse">
                <div class="small-6 medium-3 column">
                    <div class="ad-container ad-230">
                        <div id='DFP_PC_pos11'>
                        <script type='text/javascript'>googletag.cmd.push(function() { googletag.display('DFP_PC_pos11'); });</script></div>
                    </div>
                </div>
                <div class="small-6 medium-3 column">
                    <div class="ad-container ad-230">
                        <div id='DFP_PC_pos12'>
                        <script type='text/javascript'>googletag.cmd.push(function() { googletag.display('DFP_PC_pos12'); });</script></div>
                    </div>
                </div>
                <div class="small-6 medium-3 column">
                    <div class="ad-container ad-230">
                        <div id='DFP_PC_pos13'>
                        <script type='text/javascript'>googletag.cmd.push(function() { googletag.display('DFP_PC_pos13'); });</script></div>
                    </div>
                </div>
                <div class="small-6 medium-3 column">
                    <div class="ad-container ad-230">
                        <div id='DFP_PC_pos14'>
                        <script type='text/javascript'>googletag.cmd.push(function() { googletag.display('DFP_PC_pos14'); });</script></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>