
@{
    Html.RenderPartial("NaijaReviewHeader");
}


@{
    ViewBag.Title = "MostPopular";
}



<div id="" class="component" data-order="3" data-type="static-content" data-moveable="false" data-params="document=poster-header">
    <section class="section clearfix">    <div class="row">     <div class="content-area column mt-large2">      <h1 class="navigation-header xxxlarge-hed subheader line-height-very-tight lighter-gray nowrap">Most Popular</h1>     </div>    </div>   </section>   <hr class="mvn">
</div>
<div id="" class="component" data-order="4" data-type="webscript" data-moveable="false" data-params="region=search-list;location=popular-content;unlimited=true">
    <stream-list class="stream-list" data-ads-enabled="true" data-allow-unlimited="true" data-stream-endpoint="components/search-list/popular-content" data-page-context="page.search-list.most-popular" data-total-elements="21069">
        <ul>

            <li class="stream-entry">
                <div class="row">
                    <div class="content-area column">
                        <stream-item class="stream-item overflow-hidden"
                                     data-id="H03ZHX-PDF-ENG"
                                     data-title="Why GE's Jeff Immelt Lost His Job: Disruption and Activist Investors"
                                     data-url="/2017/10/why-ges-jeff-immelt-lost-his-job-disruption-and-activist-investors"
                                     data-topic="Finance & Accounting"
                                     data-authors="Steve Blank"
                                     data-content-type="Digital Article"
                                     data-content-image="~/images/oct17-03-740519503-383x215.png"
                                     data-summary="Was the company's focus on lean innovation a failure? Or did investors just get impatient?"
                                     data-list-price="8.95">
                            <div class="stream-image">
                                <figure>
                                    <a href="/2017/10/why-ges-jeff-immelt-lost-his-job-disruption-and-activist-investors"><img src="/resources/images/article_assets/2017/10/oct17-27-539405502-383x215.jpg" alt="" /></a>
                                </figure>
                            </div>

                            <h3 class="hed"><a href="/2017/10/why-ges-jeff-immelt-lost-his-job-disruption-and-activist-investors">Why GE's Jeff Immelt Lost His Job: Disruption and Activist Investors</a></h3>

                            <!-- item info -->
                            <div class="stream-item-info">
                                <a href="/topic/finance-and-accounting" class="topic">Finance & Accounting</a>
                                <span class="content-type">Digital Article</span>
                                <ul class="byline byline-list"><li>Steve Blank</li></ul>
                            </div>

                            <!-- product price/add to cart -->
                            <div class="stream-item-price">
                            </div>

                            <div class="dek">Was the company's focus on lean innovation a failure? Or did investors just get impatient?</div>

                            <ul class="stream-utility plain-inline-list">
                                <!-- utility -->
                                <li class="utility"><a href="#" js-target="save-flyout"><i class="icon icon-file-text-o"></i> Save</a></li>

                                <li class="utility"><a href="#" js-target="share-flyout"><i class="icon icon-share-square-o"></i> Share</a></li>


                                <!-- home-most popular -->
                                <li class="utility"><a href="/product/why-ges-jeff-immelt-lost-his-job-disruption-and-activist-investors/H03ZHX-PDF-ENG?referral=03069"><i class="icon icon-buy-copies"></i> Buy Copies</a></li>

                                <li class="utility pubdate"><time>October 30, 2017</time></li>

                            </ul>
                        </stream-item>
                    </div>
                </div>
            </li>

            <li class="stream-entry">
                <div class="row">
                    <div class="content-area column">
                        <stream-item class="stream-item overflow-hidden"
                                     data-id="H03YZL-PDF-ENG"
                                     data-title="A Study Used Sensors to Show That Men and Women Are Treated Differently at Work"
                                     data-url="/2017/10/a-study-used-sensors-to-show-that-men-and-women-are-treated-differently-at-work"
                                     data-topic="Global Business"
                                     data-authors="Ben Waber;Laura Freeman;Stephen Turban"
                                     data-content-type="Research"
                                     data-content-image="/resources/images/article_assets/2017/10/oct17-20-hbr-marion-barraud-demographics-1-bor-383x215.jpg"
                                     data-summary="Bias, not differences in behavior, seems to explain why women aren't advancing."
                                     data-list-price="8.95">
                            <div class="stream-image">
                                <figure>
                                    <a href="/2017/10/a-study-used-sensors-to-show-that-men-and-women-are-treated-differently-at-work"><img src="/resources/images/article_assets/2017/10/oct17-20-hbr-marion-barraud-demographics-1-bor-383x215.jpg" alt="" /></a>
                                </figure>
                            </div>

                            <h3 class="hed"><a href="/2017/10/a-study-used-sensors-to-show-that-men-and-women-are-treated-differently-at-work">A Study Used Sensors to Show That Men and Women Are Treated Differently at Work</a></h3>

                            <!-- item info -->
                            <div class="stream-item-info">
                                <a href="/topic/global-business" class="topic">Global Business</a>
                                <span class="content-type">Research</span>
                                <ul class="byline byline-list"><li>Ben Waber</li><li>Laura Freeman</li><li>Stephen Turban</li></ul>
                            </div>

                            <!-- product price/add to cart -->
                            <div class="stream-item-price">
                            </div>

                            <div class="dek">Bias, not differences in behavior, seems to explain why women aren't advancing.</div>

                            <ul class="stream-utility plain-inline-list">
                                <!-- utility -->
                                <li class="utility"><a href="#" js-target="save-flyout"><i class="icon icon-file-text-o"></i> Save</a></li>

                                <li class="utility"><a href="#" js-target="share-flyout"><i class="icon icon-share-square-o"></i> Share</a></li>


                                <!-- home-most popular -->
                                <li class="utility"><a href="/product/a-study-used-sensors-to-show-that-men-and-women-are-treated-differently-at-work/H03YZL-PDF-ENG?referral=03069"><i class="icon icon-buy-copies"></i> Buy Copies</a></li>

                                <li class="utility pubdate"><time>October 23, 2017</time></li>

                            </ul>
                        </stream-item>
                    </div>
                </div>
            </li>

            <li class="stream-entry">
                <div class="row">
                    <div class="content-area column">
                        <stream-item class="stream-item overflow-hidden"
                                     data-id="H03ZDX-PDF-ENG"
                                     data-title="To Sound Like a Leader, Think About What You Say, and How and When You Say It"
                                     data-url="/2017/10/to-sound-like-a-leader-think-about-what-you-say-and-how-and-when-you-say-it"
                                     data-topic="Leadership & Managing People"
                                     data-authors="Rebecca Shambaugh"
                                     data-content-type="Digital Article"
                                     data-content-image="/resources/images/article_assets/2017/10/oct17-31-steven-moore-Communications-final-383x215.jpg"
                                     data-summary="Executive voice is a skill."
                                     data-list-price="8.95">
                            <div class="stream-image">
                                <figure>
                                    <a href="/2017/10/to-sound-like-a-leader-think-about-what-you-say-and-how-and-when-you-say-it"><img src="/resources/images/article_assets/2017/10/oct17-31-steven-moore-Communications-final-383x215.jpg" alt="" /></a>
                                </figure>
                            </div>

                            <h3 class="hed"><a href="/2017/10/to-sound-like-a-leader-think-about-what-you-say-and-how-and-when-you-say-it">To Sound Like a Leader, Think About What You Say, and How and When You Say It</a></h3>

                            <!-- item info -->
                            <div class="stream-item-info">
                                <a href="/topic/leadership-and-managing-people" class="topic">Leadership & Managing People</a>
                                <span class="content-type">Digital Article</span>
                                <ul class="byline byline-list"><li>Rebecca Shambaugh</li></ul>
                            </div>

                            <!-- product price/add to cart -->
                            <div class="stream-item-price">
                            </div>

                            <div class="dek">Executive voice is a skill.</div>

                            <ul class="stream-utility plain-inline-list">
                                <!-- utility -->
                                <li class="utility"><a href="#" js-target="save-flyout"><i class="icon icon-file-text-o"></i> Save</a></li>

                                <li class="utility"><a href="#" js-target="share-flyout"><i class="icon icon-share-square-o"></i> Share</a></li>


                                <!-- home-most popular -->
                                <li class="utility"><a href="/product/to-sound-like-a-leader-think-about-what-you-say-and-how-and-when-you-say-it/H03ZDX-PDF-ENG?referral=03069"><i class="icon icon-buy-copies"></i> Buy Copies</a></li>

                                <li class="utility pubdate"><time>October 31, 2017</time></li>

                            </ul>
                        </stream-item>
                    </div>
                </div>
            </li>

            <li class="stream-entry">
                <div class="row">
                    <div class="content-area column">
                        <stream-item class="stream-item overflow-hidden"
                                     data-id="H03ZJU-PDF-ENG"
                                     data-title="Your Feelings About Work-Life Balance Are Shaped by What You Saw Your Parents Do"
                                     data-url="/2017/10/your-feelings-about-work-life-balance-are-shaped-by-what-you-saw-your-parents-do"
                                     data-topic="Leadership & Managing People"
                                     data-authors="Ioana Lupu"
                                     data-content-type="Research"
                                     data-content-image="/resources/images/article_assets/2017/10/oct17-27-94257190-Carol-Del-Angel-383x215.jpg"
                                     data-summary="Consciously or not, we adopt or reject our parents' habits."
                                     data-list-price="8.95">
                            <div class="stream-image">
                                <figure>
                                    <a href="/2017/10/your-feelings-about-work-life-balance-are-shaped-by-what-you-saw-your-parents-do"><img src="/resources/images/article_assets/2017/10/oct17-27-94257190-Carol-Del-Angel-383x215.jpg" alt="" /></a>
                                </figure>
                            </div>

                            <h3 class="hed"><a href="/2017/10/your-feelings-about-work-life-balance-are-shaped-by-what-you-saw-your-parents-do">Your Feelings About Work-Life Balance Are Shaped by What You Saw Your Parents Do</a></h3>

                            <!-- item info -->
                            <div class="stream-item-info">
                                <a href="/topic/leadership-and-managing-people" class="topic">Leadership & Managing People</a>
                                <span class="content-type">Research</span>
                                <ul class="byline byline-list"><li>Ioana Lupu</li></ul>
                            </div>

                            <!-- product price/add to cart -->
                            <div class="stream-item-price">
                            </div>

                            <div class="dek">Consciously or not, we adopt or reject our parents' habits.</div>

                            <ul class="stream-utility plain-inline-list">
                                <!-- utility -->
                                <li class="utility"><a href="#" js-target="save-flyout"><i class="icon icon-file-text-o"></i> Save</a></li>

                                <li class="utility"><a href="#" js-target="share-flyout"><i class="icon icon-share-square-o"></i> Share</a></li>


                                <!-- home-most popular -->
                                <li class="utility"><a href="/product/your-feelings-about-work-life-balance-are-shaped-by-what-you-saw-your-parents-do/H03ZJU-PDF-ENG?referral=03069"><i class="icon icon-buy-copies"></i> Buy Copies</a></li>

                                <li class="utility pubdate"><time>October 30, 2017</time></li>

                            </ul>
                        </stream-item>
                    </div>
                </div>
            </li>
            <li class="stream-entry" js-target="stream-ad-container">
                <aside class="backdrop-white">
                    <div class="row">
                        <div class="small-12 column text-center">
                            <div class="mvs ad-container">
                                <div id='DFP_FEED_pos6_tab3'>
                                <script type='text/javascript'>googletag.cmd.push(function() { googletag.display('DFP_FEED_pos6_tab3'); });</script></div>
                            </div>
                        </div>
                    </div>
                </aside>
            </li>

            <li class="stream-entry">
                <div class="row">
                    <div class="content-area column">
                        <stream-item class="stream-item overflow-hidden"
                                     data-id="H03YV5-PDF-ENG"
                                     data-title="If You Can't Find a Spouse Who Supports Your Career, Stay Single"
                                     data-url="/2017/10/if-you-cant-find-a-spouse-who-supports-your-career-stay-single"
                                     data-topic="Global Business"
                                     data-authors="Avivah Wittenberg-Cox"
                                     data-content-type="Digital Article"
                                     data-content-image="/resources/images/article_assets/2017/10/oct17-24-hbr-Neasden-Control-Centre-03-383x215.jpg"
                                     data-summary="Both members of a marriage deserve a chance to fulfill their potential."
                                     data-list-price="8.95">
                            <div class="stream-image">
                                <figure>
                                    <a href="/2017/10/if-you-cant-find-a-spouse-who-supports-your-career-stay-single"><img src="/resources/images/article_assets/2017/10/oct17-24-hbr-Neasden-Control-Centre-03-383x215.jpg" alt="" /></a>
                                </figure>
                            </div>

                            <h3 class="hed"><a href="/2017/10/if-you-cant-find-a-spouse-who-supports-your-career-stay-single">If You Can't Find a Spouse Who Supports Your Career, Stay Single</a></h3>

                            <!-- item info -->
                            <div class="stream-item-info">
                                <a href="/topic/global-business" class="topic">Global Business</a>
                                <span class="content-type">Digital Article</span>
                                <ul class="byline byline-list"><li>Avivah Wittenberg-Cox</li></ul>
                            </div>

                            <!-- product price/add to cart -->
                            <div class="stream-item-price">
                            </div>

                            <div class="dek">Both members of a marriage deserve a chance to fulfill their potential.</div>

                            <ul class="stream-utility plain-inline-list">
                                <!-- utility -->
                                <li class="utility"><a href="#" js-target="save-flyout"><i class="icon icon-file-text-o"></i> Save</a></li>

                                <li class="utility"><a href="#" js-target="share-flyout"><i class="icon icon-share-square-o"></i> Share</a></li>


                                <!-- home-most popular -->
                                <li class="utility"><a href="/product/if-you-cant-find-a-spouse-who-supports-your-career-stay-single/H03YV5-PDF-ENG?referral=03069"><i class="icon icon-buy-copies"></i> Buy Copies</a></li>

                                <li class="utility pubdate"><time>October 24, 2017</time></li>

                            </ul>
                        </stream-item>
                    </div>
                </div>
            </li>

            <li class="stream-entry">
                <div class="row">
                    <div class="content-area column">
                        <stream-item class="stream-item overflow-hidden"
                                     data-id="H03VBJ-PDF-ENG"
                                     data-title="Google's Secret Formula for Management? Doing the Basics Well"
                                     data-url="/2017/08/googles-secret-formula-for-management-doing-the-basics-well"
                                     data-topic="Organizational Development"
                                     data-authors="Raffaella Sadun"
                                     data-content-type="Digital Article"
                                     data-content-image="/resources/images/article_assets/2017/08/aug17-24-hbr-steven-moore-managing-people-383x215.jpg"
                                     data-summary="Employees learn how to run meetings, have conversations, and set goals."
                                     data-list-price="8.95">
                            <div class="stream-image">
                                <figure>
                                    <a href="/2017/08/googles-secret-formula-for-management-doing-the-basics-well"><img src="/resources/images/article_assets/2017/08/aug17-24-hbr-steven-moore-managing-people-383x215.jpg" alt="" /></a>
                                </figure>
                            </div>

                            <h3 class="hed"><a href="/2017/08/googles-secret-formula-for-management-doing-the-basics-well">Google's Secret Formula for Management? Doing the Basics Well</a></h3>

                            <!-- item info -->
                            <div class="stream-item-info">
                                <a href="/topic/organizational-development" class="topic">Organizational Development</a>
                                <span class="content-type">Digital Article</span>
                                <ul class="byline byline-list"><li>Raffaella Sadun</li></ul>
                            </div>

                            <!-- product price/add to cart -->
                            <div class="stream-item-price">
                            </div>

                            <div class="dek">Employees learn how to run meetings, have conversations, and set goals.</div>

                            <ul class="stream-utility plain-inline-list">
                                <!-- utility -->
                                <li class="utility"><a href="#" js-target="save-flyout"><i class="icon icon-file-text-o"></i> Save</a></li>

                                <li class="utility"><a href="#" js-target="share-flyout"><i class="icon icon-share-square-o"></i> Share</a></li>


                                <!-- home-most popular -->
                                <li class="utility"><a href="/product/googles-secret-formula-for-management-doing-the-basics-well/H03VBJ-PDF-ENG?referral=03069"><i class="icon icon-buy-copies"></i> Buy Copies</a></li>

                                <li class="utility pubdate"><time>August 24, 2017</time></li>

                            </ul>
                        </stream-item>
                    </div>
                </div>
            </li>

            <li class="stream-entry">
                <div class="row">
                    <div class="content-area column">
                        <stream-item class="stream-item overflow-hidden"
                                     data-id="H03WB1-PDF-ENG"
                                     data-title="Closing the Strategy-Execution Gap Means Focusing on What Employees Think, Not What They Do"
                                     data-url="/2017/10/closing-the-strategy-execution-gap-means-focusing-on-what-employees-think-not-what-they-do"
                                     data-topic="Strategy & Execution"
                                     data-authors="Alison Reynolds;David Lewis"
                                     data-content-type="Digital Article"
                                     data-content-image="/resources/images/article_assets/2017/10/oct17-30-381770-craig-white-383x215.jpg"
                                     data-summary="Escape the tyranny of the tangible."
                                     data-list-price="8.95">
                            <div class="stream-image">
                                <figure>
                                    <a href="/2017/10/closing-the-strategy-execution-gap-means-focusing-on-what-employees-think-not-what-they-do"><img src="/resources/images/article_assets/2017/10/oct17-30-381770-craig-white-383x215.jpg" alt="" /></a>
                                </figure>
                            </div>

                            <h3 class="hed"><a href="/2017/10/closing-the-strategy-execution-gap-means-focusing-on-what-employees-think-not-what-they-do">Closing the Strategy-Execution Gap Means Focusing on What Employees Think, Not What They Do</a></h3>

                            <!-- item info -->
                            <div class="stream-item-info">
                                <a href="/topic/strategy-and-execution" class="topic">Strategy & Execution</a>
                                <span class="content-type">Digital Article</span>
                                <ul class="byline byline-list"><li>Alison Reynolds</li><li>David Lewis</li></ul>
                            </div>

                            <!-- product price/add to cart -->
                            <div class="stream-item-price">
                            </div>

                            <div class="dek">Escape the tyranny of the tangible.</div>

                            <ul class="stream-utility plain-inline-list">
                                <!-- utility -->
                                <li class="utility"><a href="#" js-target="save-flyout"><i class="icon icon-file-text-o"></i> Save</a></li>

                                <li class="utility"><a href="#" js-target="share-flyout"><i class="icon icon-share-square-o"></i> Share</a></li>


                                <!-- home-most popular -->
                                <li class="utility"><a href="/product/closing-the-strategy-execution-gap-means-focusing-on-what-employees-think-not-what-they-do/H03WB1-PDF-ENG?referral=03069"><i class="icon icon-buy-copies"></i> Buy Copies</a></li>

                                <li class="utility pubdate"><time>October 30, 2017</time></li>

                            </ul>
                        </stream-item>
                    </div>
                </div>
            </li>

            <li class="stream-entry">
                <div class="row">
                    <div class="content-area column">
                        <stream-item class="stream-item overflow-hidden"
                                     data-id="H03TTN-PDF-ENG"
                                     data-title="Leading Effectively When You Inherit a Mess"
                                     data-url="/2017/08/leading-effectively-when-you-inherit-a-mess"
                                     data-topic="Organizational Development"
                                     data-authors="Ron Carucci"
                                     data-content-type="Digital Article"
                                     data-content-image="/resources/images/article_assets/2017/08/aug17-07-hbr-juan-diaz-faes-managing-people-383x215.jpg"
                                     data-summary="Don't blame the situation on your predecessor."
                                     data-list-price="8.95">
                            <div class="stream-image">
                                <figure>
                                    <a href="/2017/08/leading-effectively-when-you-inherit-a-mess"><img src="/resources/images/article_assets/2017/08/aug17-07-hbr-juan-diaz-faes-managing-people-383x215.jpg" alt="" /></a>
                                </figure>
                            </div>

                            <h3 class="hed"><a href="/2017/08/leading-effectively-when-you-inherit-a-mess">Leading Effectively When You Inherit a Mess</a></h3>

                            <!-- item info -->
                            <div class="stream-item-info">
                                <a href="/topic/organizational-development" class="topic">Organizational Development</a>
                                <span class="content-type">Digital Article</span>
                                <ul class="byline byline-list"><li>Ron Carucci</li></ul>
                            </div>

                            <!-- product price/add to cart -->
                            <div class="stream-item-price">
                            </div>

                            <div class="dek">Don't blame the situation on your predecessor.</div>

                            <ul class="stream-utility plain-inline-list">
                                <!-- utility -->
                                <li class="utility"><a href="#" js-target="save-flyout"><i class="icon icon-file-text-o"></i> Save</a></li>

                                <li class="utility"><a href="#" js-target="share-flyout"><i class="icon icon-share-square-o"></i> Share</a></li>


                                <!-- home-most popular -->
                                <li class="utility"><a href="/product/leading-effectively-when-you-inherit-a-mess/H03TTN-PDF-ENG?referral=03069"><i class="icon icon-buy-copies"></i> Buy Copies</a></li>

                                <li class="utility pubdate"><time>August 07, 2017</time></li>

                            </ul>
                        </stream-item>
                    </div>
                </div>
            </li>
            <!-- load more -->
            <li class="stream-entry">
                <div class="row">
                    <div class="content-area column">
                        <div class="load-ten-more" js-target="load-ten-more">
                            <a href="#" js-target="load-ten-more-link">
                                <i class="icon icon-load-more mrs"></i> <strong>Load more items</strong>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </stream-list>
</div>
<div id="" class="component" data-order="9" data-type="webscript" data-moveable="false" data-params="region=newsletter-recommended">
    <div class="row cushion">
        <div class="content-area">
            <h4 class="section-label mbl">Subscribe to HBR Newsletters: <strong>Keep Informed</strong></h4>
            <div class="flex-row-wrap newsletter-tile-container newsletter-no-wrap">
                <div class="flex-col justify-between has-borders mvm pam backdrop-white ">
                    <div>
                        <div style="color: #FB6405">
                            <svg class="size-64x64 svg-fill-current"><use xlink:href="/resources/css/images/icons.svg#gears"></use></svg>
                        </div>
                        <h3>Management Tip of the Day</h3>
                        <div class="dek mbm">Quick, practical management advice to help you do your job better, delivered weekdays.</div>
                    </div>
                    <follow-subscribe class="follow-topic " data-name="Management Tip of the Day" data-activity="newsletter">
                        <div class="follow-this"><a href="#" js-target="enable-this" data-method="subscribe"><i class="icon icon-follow-this"></i> <strong>Sign up</strong></a></div>
                        <div class="unfollow-this"><a href="#" js-target="disable-this" data-method="unsubscribe"><i class="icon icon-unfollow-this"></i> <strong>Signed up</strong></a></div>
                    </follow-subscribe>
                </div>
                <div class="flex-col justify-between has-borders mvm pam backdrop-white ">
                    <div>
                        <div style="color: #03C1ED">
                            <svg class="size-64x64 svg-fill-current"><use xlink:href="/resources/css/images/icons.svg#alarm-clock"></use></svg>
                        </div>
                        <h3>The Daily Alert</h3>
                        <div class="dek mbm">Links to all the digital articles published in the last 24 hours.</div>
                    </div>
                    <follow-subscribe class="follow-topic " data-name="The Daily Alert" data-activity="newsletter">
                        <div class="follow-this"><a href="#" js-target="enable-this" data-method="subscribe"><i class="icon icon-follow-this"></i> <strong>Sign up</strong></a></div>
                        <div class="unfollow-this"><a href="#" js-target="disable-this" data-method="unsubscribe"><i class="icon icon-unfollow-this"></i> <strong>Signed up</strong></a></div>
                    </follow-subscribe>
                </div>
                <div class="flex-col justify-between has-borders mvm pam backdrop-white ">
                    <div>
                        <div style="color: #0284FD">
                            <svg class="size-64x64 svg-fill-current"><use xlink:href="/resources/css/images/icons.svg#fish"></use></svg>
                        </div>
                        <h3>Leadership</h3>
                        <div class="dek mbm">Must-reads from our most recent articles on leadership and managing people, delivered once a month.</div>
                    </div>
                    <follow-subscribe class="follow-topic " data-name="Leadership" data-activity="newsletter">
                        <div class="follow-this"><a href="#" js-target="enable-this" data-method="subscribe"><i class="icon icon-follow-this"></i> <strong>Sign up</strong></a></div>
                        <div class="unfollow-this"><a href="#" js-target="disable-this" data-method="unsubscribe"><i class="icon icon-unfollow-this"></i> <strong>Signed up</strong></a></div>
                    </follow-subscribe>
                </div>
                <div class="flex-col justify-between has-borders mvm pam backdrop-white hide-medium hide-large">
                    <div>
                        <div style="color: #B20303">
                            <svg class="size-64x64 svg-fill-current"><use xlink:href="/resources/css/images/icons.svg#magazine"></use></svg>
                        </div>
                        <h3>Best of the Issue</h3>
                        <div class="dek mbm">The editor of Harvard Business Review picks highlights from each new issue of the magazine.</div>
                    </div>
                    <follow-subscribe class="follow-topic " data-name="Best of the Issue" data-activity="newsletter">
                        <div class="follow-this"><a href="#" js-target="enable-this" data-method="subscribe"><i class="icon icon-follow-this"></i> <strong>Sign up</strong></a></div>
                        <div class="unfollow-this"><a href="#" js-target="disable-this" data-method="unsubscribe"><i class="icon icon-unfollow-this"></i> <strong>Signed up</strong></a></div>
                    </follow-subscribe>
                </div>
            </div>
            <div class="load-ten-more mtl">
                <a href="/email-newsletters">
                    <strong>See all newsletters</strong> <i class="icon icon-caret-right baseline-shift-down"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div id="" class="component" data-order="97" data-type="webscript" data-moveable="false" data-params="region=openx;location=partner-center">
    <section class="partner-center row clearfix">
        <div class="content-area column cushion">
            <div class="row">
                <div class="small-12 column">
                    <h4 class="section-label">Partner Center</h4>
                </div>
            </div>
            <div class="row collapse">
                <div class="small-6 medium-3 column">
                    <div class="ad-container ad-230">
                        <div id='DFP_PC_pos11'>
                        <script type='text/javascript'>googletag.cmd.push(function() { googletag.display('DFP_PC_pos11'); });</script></div>
                    </div>
                </div>
                <div class="small-6 medium-3 column">
                    <div class="ad-container ad-230">
                        <div id='DFP_PC_pos12'>
                        <script type='text/javascript'>googletag.cmd.push(function() { googletag.display('DFP_PC_pos12'); });</script></div>
                    </div>
                </div>
                <div class="small-6 medium-3 column">
                    <div class="ad-container ad-230">
                        <div id='DFP_PC_pos13'>
                        <script type='text/javascript'>googletag.cmd.push(function() { googletag.display('DFP_PC_pos13'); });</script></div>
                    </div>
                </div>
                <div class="small-6 medium-3 column">
                    <div class="ad-container ad-230">
                        <div id='DFP_PC_pos14'>
                        <script type='text/javascript'>googletag.cmd.push(function() { googletag.display('DFP_PC_pos14'); });</script></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div id="" class="component" data-order="98" data-type="webscript" data-moveable="false" data-params="region=global-nav">
    <!-- Global Navigation -->
    <nav class="global-nav backdrop-off-white flex-col justify-between ptm hide-for-print" data-state="" data-page="most-popular">
        <div class="phl">
            <a href="/" class="is-block mtm mbs hide-medium-down"><img src="/resources/css/images/HBR_logo_black.svg" alt="Harvard Business Review"></a>
            <a href="/the-latest" class="flex-row align-items-center link--black has-border-bottom tap-target-height" track-target="global-nav-link--the-latest">THE LATEST</a>
            <a href="/most-popular" class="flex-row align-items-center link--black has-border-bottom tap-target-height" track-target="global-nav-link--most-popular">MOST POPULAR</a>
            <a href="/topics" class="flex-row align-items-center link--black has-border-bottom tap-target-height" track-target="global-nav-link--topics">ALL TOPICS</a>
            <a href="/video" class="flex-row align-items-center link--black has-border-bottom tap-target-height" track-target="global-nav-link--video">VIDEO</a>
            <a href="/magazine" class="flex-row align-items-center link--black has-border-bottom tap-target-height" track-target="global-nav-link--magazine">MAGAZINE ARCHIVE</a>
            <a href="/store" class="flex-row align-items-center link--black has-border-bottom tap-target-height" track-target="global-nav-link--store">BUY HBR PRODUCTS</a>
            <a href="/visual-library" class="flex-row align-items-center link--black has-border-bottom tap-target-height" track-target="global-nav-link--visual-library" data-sign-in="true">SUBSCRIBER EXCLUSIVES</a>
            <a href="/my-library" class="flex-row align-items-center link--black  tap-target-height" track-target="global-nav-link--my-library" data-sign-in="true">MY LIBRARY</a>
        </div>

        <personalization-placement class="personalization-placement" data-placement-id="mag_cover_engage">
            <div class="flex-row justify-center hide-small">
                <a href="/subscribe" target="_blank"><img class="nav-magazine-cover" src="/resources/images/covers/latest.png" alt="Subscribe" /></a>
            </div>
            <a href="/subscribe" target="_blank" class="is-block text-center slug--small light-gray inverted font-tight line-height-tight pvm phl">Subscribe + Save!</a>
        </personalization-placement>
    </nav>
</div>

