@{
    Html.RenderPartial("NaijaReviewHeader");
}


@{
    ViewBag.Title = "MyLibrary";

}

<link href="~/Content/style_add7dcb520855e67.css" rel="stylesheet" />

<div id="" class="component" data-order="3" data-type="webscript" data-moveable="false" data-params="region=myhbr-header">
    <section class="section backdrop-dark clearfix">
        <div class="row mb-large2 mt-large4">
            <div class="large-8 small-centered column">
                <h1 class="medium-text-center" style="color:white">Richard Iyama</h1>
            </div>
        </div>
    </section>
</div>
<div js-target="tabs" class="tab-bar--tabs flex-row-medium phm" folderlist-tab-name="library" state-path="/my-library/" state-pop="">
    <a href="#" js-target="tab" class="tab-bar--tab flex-col-medium justify-center flex-1 medium-text-center line-height-tight active" data-stream-name="library">My Library</a>
    <a href="#" js-target="tab" class="tab-bar--tab flex-col-medium justify-center flex-1 medium-text-center line-height-tight " data-stream-name="topics">Topic Feeds</a>
    <a href="#" js-target="tab" class="tab-bar--tab flex-col-medium justify-center flex-1 medium-text-center line-height-tight " data-stream-name="purchases">Purchases</a>
    <a href="#" js-target="tab" class="tab-bar--tab flex-col-medium justify-center flex-1 medium-text-center line-height-tight " data-stream-name="activity">Activity</a>
    <a href="#" js-target="tab" class="tab-bar--tab flex-col-medium justify-center flex-1 medium-text-center line-height-tight " data-stream-name="settings">Account Settings</a>
    <a href="#" js-target="tab" class="tab-bar--tab flex-col-medium justify-center flex-1 medium-text-center line-height-tight " data-stream-name="preferences">Email Preferences</a>
</div>
        <section>
            <stream-content data-stream-name="library" class="stream-content active">

                <div class="row">
                    <div class="content-area column">
                        <div class="row">
                            <div class="medium-3 columns">
                                <div class="upcase font-bold hide-for-small mt-large3 mbm">MY LIBRARY</div>
                                <folder-list style="display: block" data-folders="[]">
                                    <div class="loading mrl is-inline-block">
                                        <div class="pie rotation"></div>
                                        <div class="pie filler"></div>
                                        <div class="mask"></div>
                                    </div>
                                </folder-list>
                            </div>
                            <div class="medium-9 columns">
                                <div class="flex-row-medium justify-end mvl hide-small">
                                    <button js-target="share-list-flyout" class="button--black phl mbn spacing-wide is-hidden">Share this folder</button>
                                    <button disabled js-target="bulk-organize-flyout" class="button--light-gray phl mhs mbn spacing-wide">Move selected</button>
                                    <button disabled js-target="bulk-discard-flyout" class="button--light-gray phl mbn spacing-wide">Discard selected</button>
                                </div>

                                <div class="font-sans-serif font-size-large text-gray mvl" js-target="folder-description"></div>
                                <hr class="mvn">
                                <stream-list class="stream-list ptn reset-content-areas" data-stream-endpoint="user/saves" data-selectable="true" data-ads-enabled="false" data-allow-unlimited="true">
                                    <ul>
                                        <li class="stream-entry">
                                            <div class="row">
                                                <div class="content-area column">
                                                    <div class="row">
                                                        <div class="hbr-checkbox left mrl mln hide-for-small"></div>
                                                        <div class="small-10 columns mtl text-center">
                                                            <h3 class="subheader darker-gray">Hi, <strong>Richard Iyama</strong>. Welcome to your personal HBR Library.</h3>
                                                            <h5 class="subheader darker-gray mtm mbl line-height-normal">Consider this your own personal space for collecting, organizing, and sharing your favorite content from Harvard Business Review. Use the folder icon <small class="icon icon-file-text-o primary-color"></small> on any piece of content to add it to your library.</h5>
                                                            <a href="/" class="button--black">Go to Home Page</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </stream-list>
                            </div>
                        </div>
                    </div>
                </div>
            </stream-content>
            </section>
        
