@{
    Html.RenderPartial("NaijaReviewHeader");
}

@{
    ViewBag.Title = "Purchases";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="small-10 small-offset-1 columns mt-large2 mbm text-center ">
        <h3 class="subheader darker-gray mtm">Welcome to Your Purchase History</h3>
        <h5 class="subheader darker-gray mtm mbl line-height-normal">You haven't purchased anything yet. Visit our store to start shopping.</h5>
        <div class="mvl text-center">
            <a href="/store" class="button mtm mbl">VISIT OUR STORE</a>
        </div>
    </div>
</div>

