
@{
    ViewBag.Title = "Subscribe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/style_add7dcb520855e67.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-sm-4 links_left"><a href="https://w1.buysub.com/servlet/ConvertibleGateway?cds_mag_code=HVR&amp;cds_page_id=187096"><img src="images/hbr_gift_icon.gif" width="35" height="35" alt=""> Click here to give Harvard Business Review as a gift.</a></div>
        <div class="col-sm-4 links_right"><a href="https://w1.buysub.com/servlet/CSGateway?cds_mag_code=HVR">Click here to renew your subscription.</a></div>
    </div>
</div>
<div class="sale-header">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-3">
                <img src="images/layout1/img/hbr-logo-350.png" width="150">
            </div>
            <div class="col-md-10 col-sm-9">
                <h1>Unlimited Access Is Now Yours</h1>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>

<div class="container mag">
    <div class="row">
        <!-- Carousel Column -->
        <div class="col-md-8 col-sm-6">
            <h2>
                Your HBR Subscription will include:
            </h2>
            <div class="tabordion">
                <section id="section1">
                    <input type="radio" name="sections" id="option1" checked="">
                    <label for="option1" class="first-tab">
                        <h3>The Newly Redesigned Print Edition</h3>
                        <p>A one-year subscription delivering unrivaled working knowledge and insights to propel your career and&nbsp;your business&nbsp;forward.</p>
                    </label>
                    <article>
                        <!-- start slide set 1 -->
                        <div class="demo-wrapper">
                            <div id="slider" class="swipe" style="visibility: visible;">
                                <div class="swipe-wrap" style="width: 1480px;">
                                    <div data-index="0" style="width: 370px; left: 0px; transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
                                        <img src="images/layout1/img/slider_img1.png" width="600" height="350">
                                    </div>
                                    <div data-index="1" style="width: 370px; left: -370px; transition-duration: 0ms; transform: translate(370px, 0px) translateZ(0px);">
                                        <img src="images/layout1/img/slider_img2.png" width="600" height="350">
                                    </div>
                                    <div data-index="2" style="width: 370px; left: -740px; transition-duration: 0ms; transform: translate(370px, 0px) translateZ(0px);">
                                        <img src="images/layout1/img/slider_img3.png" width="600" height="350">
                                    </div>
                                    <div data-index="3" style="width: 370px; left: -1110px; transition-duration: 0ms; transform: translate(-370px, 0px) translateZ(0px);">
                                        <img src="images/layout1/img/slider_img4.png" width="600" height="350">
                                    </div>
                                </div>
                                <span class="nav prev1"></span>
                                <span class="nav next1"></span>
                            </div>
                        </div>
                        <!-- end slide set 1 -->
                    </article>
                </section>
                <section id="section2">
                    <input type="radio" name="sections" id="option2">
                    <label for="option2">
                        <h3>7 Free Gifts</h3>
                        <p>Receive 3 exclusive articles with accompanying slide decks and the Leadership Insights collection.  </p>
                    </label>
                    <article>
                        <!-- start slide set 2 -->
                        <div class="demo-wrapper">
                            <div id="slider2" class="swipe" style="visibility: visible;">
                                <div class="swipe-wrap" style="width: 1850px;">
                                    <div data-index="0" style="width: 370px; left: 0px; transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
                                        <img src="images/layout1/img/slider_img17.png" width="600" height="350">
                                    </div>
                                    <div data-index="1" style="width: 370px; left: -370px; transition-duration: 0ms; transform: translate(370px, 0px) translateZ(0px);">
                                        <img src="images/layout1/img/slider_img19.png" width="600" height="350">
                                    </div>
                                    <div data-index="2" style="width: 370px; left: -740px; transition-duration: 0ms; transform: translate(370px, 0px) translateZ(0px);">
                                        <img src="images/layout1/img/slider_img20.png" width="600" height="350">
                                    </div>
                                    <div data-index="3" style="width: 370px; left: -1110px; transition-duration: 0ms; transform: translate(370px, 0px) translateZ(0px);">
                                        <img src="images/layout1/img/slider_img21.png" width="600" height="350">
                                    </div>
                                    <div data-index="4" style="width: 370px; left: -1480px; transition-duration: 0ms; transform: translate(-370px, 0px) translateZ(0px);">
                                        <img src="images/layout1/img/slider_img22.png" width="600" height="350">
                                    </div>
                                </div>
                                <span class="nav prev2"></span>
                                <span class="nav next2"></span>
                            </div>
                        </div>
                        <!-- end slide set 2 -->
                    </article>
                </section>
                <section id="section3">
                    <input type="radio" name="sections" id="option3">
                    <label for="option3">
                        <h3>HBR.org &amp; The Archive</h3>
                        <p>Over 4,000 articles — including our 50 best-selling articles, latest research, and&nbsp;exclusive&nbsp;content from the <i>Harvard Business Review</i>&nbsp;archives.</p>
                    </label>
                    <article>
                        <!-- start slide set 3 -->
                        <div class="demo-wrapper">
                            <div id="slider3" class="swipe" style="visibility: visible;">
                                <div class="swipe-wrap" style="width: 1480px;">
                                    <div data-index="0" style="width: 370px; left: 0px; transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
                                        <img src="images/layout1/img/slider_img5.png" width="600" height="350">
                                    </div>
                                    <div data-index="1" style="width: 370px; left: -370px; transition-duration: 0ms; transform: translate(370px, 0px) translateZ(0px);">
                                        <img src="images/layout1/img/slider_img6.png" width="600" height="350">
                                    </div>
                                    <div data-index="2" style="width: 370px; left: -740px; transition-duration: 0ms; transform: translate(370px, 0px) translateZ(0px);">
                                        <img src="images/layout1/img/slider_img7.png" width="600" height="350">
                                    </div>
                                    <div data-index="3" style="width: 370px; left: -1110px; transition-duration: 0ms; transform: translate(-370px, 0px) translateZ(0px);">
                                        <img src="images/layout1/img/slider_img8.png" width="600" height="350">
                                    </div>
                                </div>
                                <span class="nav prev3"></span>
                                <span class="nav next3"></span>
                            </div>
                        </div>
                        <!-- end slide set 3 -->
                    </article>
                </section>
                <section id="section4">
                    <input type="radio" name="sections" id="option4">
                    <label for="option4">
                        <h3>IPAD® AND ANDROID™ TABLET EDITIONS</h3>
                        <p>Bring the magazine to life, and access our unique content in the way that best suits your lifestyle.</p>
                    </label>
                    <article>
                        <!-- start slide set 4 -->
                        <div class="demo-wrapper">
                            <div id="slider4" class="swipe" style="visibility: visible;">
                                <div class="swipe-wrap" style="width: 1480px;">
                                    <div data-index="0" style="width: 370px; left: 0px; transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
                                        <img src="images/layout1/img/slider_img9.png" width="600" height="350">
                                    </div>
                                    <div data-index="1" style="width: 370px; left: -370px; transition-duration: 0ms; transform: translate(370px, 0px) translateZ(0px);">
                                        <img src="images/layout1/img/slider_img10.png" width="600" height="350">
                                    </div>
                                    <div data-index="2" style="width: 370px; left: -740px; transition-duration: 0ms; transform: translate(370px, 0px) translateZ(0px);">
                                        <img src="images/layout1/img/slider_img11.png" width="600" height="350">
                                    </div>
                                    <div data-index="3" style="width: 370px; left: -1110px; transition-duration: 0ms; transform: translate(-370px, 0px) translateZ(0px);">
                                        <img src="images/layout1/img/slider_img12.png" width="600" height="350">
                                    </div>
                                </div>
                                <span class="nav prev4"></span>
                                <span class="nav next4"></span>
                            </div>
                        </div>
                        <!-- end slide set 4 -->
                    </article>
                </section>
                <section id="section5">
                    <input type="radio" name="sections" id="option5">
                    <label for="option5">
                        <h3>Subscriber Exclusives</h3>
                        <p>
                            Access HBR's most informative and engaging visuals,
                            including tables, charts, and  slide decks.
                        </p>
                    </label>
                    <article>
                        <!-- start slide set 5 -->
                        <div class="demo-wrapper">
                            <div id="slider5" class="swipe" style="visibility: visible;">
                                <div class="swipe-wrap" style="width: 1480px;">
                                    <div data-index="0" style="width: 370px; left: 0px; transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
                                        <img src="images/layout1/img/slider_img13.png" width="600" height="350">
                                    </div>
                                    <div data-index="1" style="width: 370px; left: -370px; transition-duration: 0ms; transform: translate(370px, 0px) translateZ(0px);">
                                        <img src="images/layout1/img/slider_img14.png" width="600" height="350">
                                    </div>
                                    <div data-index="2" style="width: 370px; left: -740px; transition-duration: 0ms; transform: translate(370px, 0px) translateZ(0px);">
                                        <img src="images/layout1/img/slider_img15.png" width="600" height="350">
                                    </div>
                                    <div data-index="3" style="width: 370px; left: -1110px; transition-duration: 0ms; transform: translate(-370px, 0px) translateZ(0px);">
                                        <img src="images/layout1/img/slider_img16.png" width="600" height="350">
                                    </div>
                                </div>
                                <span class="nav prev5"></span>
                                <span class="nav next5"></span>
                            </div>
                        </div>
                        <!-- end slide set 5 -->
                    </article>
                </section>
            </div>
        </div>
        <!-- Form -->
        <div class="col-md-4 col-sm-6">

            <!-- Form Well -->
            <div class="well">
                <form action="/servlet/Transaction" method="POST" class="msform" name="newbusiness_combo_multistep1">
                    <!-- RESPONSE KEY:  I66AHRVD -->
                    <input type="HIDDEN" name="lsid" value="73130136225016342">
                    <input type="HIDDEN" name="vid" value="2">
                    <input type="HIDDEN" name="cds_page_id" value="203760">
                    <input type="HIDDEN" name="cds_mag_code" value="HVR">
                    <input type="HIDDEN" name="cds_form_submitted" value="newbusiness_combo_multistep:newbusiness_combo_multistep1">
                    <input type="HIDDEN" name="cds_doms_order_number" value="">
                    <input type="HIDDEN" name="cds_doms_offer_code" value="">
                    <input type="HIDDEN" name="cds_doms_package_offer_id" value="">
                    <input type="HIDDEN" name="cds_config_id" value="">
                    <input type="HIDDEN" name="cds_series_status" value="">
                    <!-- progressbar -->
                    <ul class="progressbar">
                        <li class="active">1. Information</li>
                        <li>2. Payment</li>
                        <li>3. Confirmation</li>
                    </ul>
                    <!-- fieldsets -->
                    <!-- information -->
                    <fieldset data-check-id="1">
                        <div class="styled-select slate country">
                            <select name="cds_country" id="cds_country">
                                <option value="" selected="">Country</option>
                                <option value="United States">United States</option>
                                <option value="United States">APO/FPO AA</option>
                                <option value="United States">APO/FPO AE</option>
                                <option value="United States">APO/FPO AP</option>
                                <option value="United States">American Samoa</option>
                                <option value="United States">Federated States of Micronesia</option>
                                <option value="United States">Guam</option>
                                <option value="United States">Mariana Islands</option>
                                <option value="United States">Marshall Islands</option>
                                <option value="United States">Puerto Rico</option>
                                <option value="United States">U.S. Virgin Islands</option>
                                <option value="Canada">Canada</option>
                                <option value="-">-------------------------------------------------------------</option>
                                <option value="int">Afghanistan</option>
                                <option value="int">Albania</option>
                                <option value="int">Algeria</option>
                                <option value="int">Andorra</option>
                                <option value="int">Angola</option>
                                <option value="int">Anguilla</option>
                                <option value="int">Antigua and Barbuda</option>
                                <option value="int">Argentina</option>
                                <option value="int">Armenia</option>
                                <option value="int">Aruba</option>
                                <option value="int">Australia</option>
                                <option value="int">Austria</option>
                                <option value="int">Azerbaijan</option>
                                <option value="int">Azores</option>
                                <option value="int">Bahamas</option>
                                <option value="int">Bahrain</option>
                                <option value="int">Bangladesh</option>
                                <option value="int">Barbados</option>
                                <option value="int">Belarus</option>
                                <option value="int">Belgium</option>
                                <option value="int">Belize</option>
                                <option value="int">Benin</option>
                                <option value="int">Bermuda</option>
                                <option value="int">Bhutan</option>
                                <option value="int">Bolivia</option>
                                <option value="int">Bosnia-Herzegovina</option>
                                <option value="int">Botswana</option>
                                <option value="int">Brazil</option>
                                <option value="int">British Virgin Islands</option>
                                <option value="int">Brunei Darussalam</option>
                                <option value="int">Bulgaria</option>
                                <option value="int">Burkina Faso</option>
                                <option value="Burundi">Burundi</option>
                                <option value="int">Cambodia</option>
                                <option value="int">Cameroon</option>
                                <option value="int">Cape Verde</option>
                                <option value="int">Cayman Islands</option>
                                <option value="int">Central African Rep</option>
                                <option value="int">Chad</option>
                                <option value="int">Chile</option>
                                <option value="int">China</option>
                                <option value="int">Colombia</option>
                                <option value="int">Comoros</option>
                                <option value="int">Congo</option>
                                <option value="int">Cook Islands</option>
                                <option value="int">Costa Rica</option>
                                <option value="int">Croatia</option>
                                <option value="int">Cuba</option>
                                <option value="int">Curacao</option>
                                <option value="int">Cyprus</option>
                                <option value="int">Czech Republic</option>
                                <option value="int">Denmark</option>
                                <option value="int">Djibouti</option>
                                <option value="int">Dominica</option>
                                <option value="int">Dominican Republic</option>
                                <option value="int">Ecuador</option>
                                <option value="int">Egypt</option>
                                <option value="int">El Salvador</option>
                                <option value="int">Equatorial Guinea</option>
                                <option value="int">Eritrea</option>
                                <option value="int">Estonia</option>
                                <option value="int">Ethiopia</option>
                                <option value="int">Faeroe Islands</option>
                                <option value="int">Falkland Islands</option>
                                <option value="int">Fiji</option>
                                <option value="int">Finland</option>
                                <option value="int">France</option>
                                <option value="int">French Polynesia</option>
                                <option value="int">Gabon</option>
                                <option value="int">Gambia</option>
                                <option value="int">Georgia</option>
                                <option value="int">Germany</option>
                                <option value="Ghana">Ghana</option>
                                <option value="int">Gibraltar</option>
                                <option value="int">Greece</option>
                                <option value="int">Greenland</option>
                                <option value="int">Grenada</option>
                                <option value="int">Guadeloupe</option>
                                <option value="int">Guatemala</option>
                                <option value="int">Guinea</option>
                                <option value="int">Guinea</option>
                                <option value="Guinea-Bissau">Guinea-Bissau</option>
                                <option value="int">Haiti</option>
                                <option value="int">Honduras</option>
                                <option value="int">Hong Kong</option>
                                <option value="int">Hungary</option>
                                <option value="int">Iceland</option>
                                <option value="int">India</option>
                                <option value="int">Indonesia</option>
                                <option value="Iran">Iran</option>
                                <option value="int">Iraq</option>
                                <option value="int">Ireland</option>
                                <option value="int">Israel</option>
                                <option value="int">Italy</option>
                                <option value="int">Ivory Coast Cote</option>
                                <option value="int">Jamaica</option>
                                <option value="int">Japan</option>
                                <option value="int">Jordan</option>
                                <option value="int">Kazakhstan</option>
                                <option value="int">Kenya</option>
                                <option value="int">Kiribati</option>
                                <option value="int">Kuwait</option>
                                <option value="int">Kyrgyzstan</option>
                                <option value="int">Laos</option>
                                <option value="int">Latvia</option>
                                <option value="int">Lebanon</option>
                                <option value="int">Lesotho</option>
                                <option value="int">Liberia</option>
                                <option value="Libyan Jamahiriya">Libya</option>
                                <option value="int">Liechtenstein</option>
                                <option value="int">Lithuania</option>
                                <option value="int">Luxembourg</option>
                                <option value="int">Macao</option>
                                <option value="int">Macedonia</option>
                                <option value="int">Madagascar</option>
                                <option value="int">Malawi</option>
                                <option value="int">Malaysia</option>
                                <option value="int">Maldives</option>
                                <option value="int">Mali</option>
                                <option value="int">Malta</option>
                                <option value="int">Martinique</option>
                                <option value="int">Mauritania</option>
                                <option value="int">Mauritius</option>
                                <option value="int">Mexico</option>
                                <option value="int">Moldova</option>
                                <option value="int">Monaco</option>
                                <option value="int">Mongolia</option>
                                <option value="int">Montenegro</option>
                                <option value="int">Montserrat</option>
                                <option value="int">Morocco</option>
                                <option value="int">Mozambique</option>
                                <option value="int">Myanmar</option>
                                <option value="int">Namibia</option>
                                <option value="int">Nauru</option>
                                <option value="int">Nepal</option>
                                <option value="int">Netherlands</option>
                                <option value="int">Netherlands Antilles</option>
                                <option value="int">New Caledonia</option>
                                <option value="int">New Zealand</option>
                                <option value="int">Nicaragua</option>
                                <option value="int">Niger</option>
                                <option value="Nigeria">Nigeria</option>
                                <option value="int">Norfolk Island</option>
                                <option value="int">North Korea</option>
                                <option value="int">Norway</option>
                                <option value="int">Oman</option>
                                <option value="Pakistan">Pakistan</option>
                                <option value="int">Panama</option>
                                <option value="int">Papua New Guinea</option>
                                <option value="int">Paraguay</option>
                                <option value="int">Peru</option>
                                <option value="int">Philippines</option>
                                <option value="int">Pitcairn Islands</option>
                                <option value="int">Poland</option>
                                <option value="int">Portugal</option>
                                <option value="int">Qatar</option>
                                <option value="int">Reunion</option>
                                <option value="int">Romania</option>
                                <option value="int">Russia</option>
                                <option value="int">Rwanda</option>
                                <option value="int">Saint Lucia</option>
                                <option value="int">Saint Tome And Princ</option>
                                <option value="int">Saint Vincent And Gr</option>
                                <option value="int">Samoa</option>
                                <option value="int">San Marino</option>
                                <option value="int">Saudi Arabia</option>
                                <option value="int">Senegal</option>
                                <option value="int">Serbia</option>
                                <option value="int">Seychelles</option>
                                <option value="Sierra Leone">Sierra Leone</option>
                                <option value="int">Singapore</option>
                                <option value="int">Sint Maarten</option>
                                <option value="int">Slovak Repl</option>
                                <option value="int">Slovenia</option>
                                <option value="int">Solomon Islands</option>
                                <option value="Somalia">Somalia</option>
                                <option value="int">South Africa</option>
                                <option value="int">South Korea</option>
                                <option value="int">Spain</option>
                                <option value="int">St Hel,Asn,Tr Da Cun</option>
                                <option value="int">St Kitts &amp; Nevis</option>
                                <option value="int">Sri Lanka</option>
                                <option value="int">Ascension Island</option>
                                <option value="int">St Pierre &amp; Miquelon</option>
                                <option value="int">Sudan</option>
                                <option value="int">Suriname</option>
                                <option value="int">Swaziland</option>
                                <option value="int">Sweden</option>
                                <option value="int">Switzerland</option>
                                <option value="int">Syria</option>
                                <option value="int">Taiwan</option>
                                <option value="int">Tajikistan</option>
                                <option value="int">Tanzania</option>
                                <option value="int">Thailand</option>
                                <option value="int">Timor-Leste</option>
                                <option value="int">Togo</option>
                                <option value="int">Tonga</option>
                                <option value="int">Trinidad and Tobago</option>
                                <option value="int">Tunisia</option>
                                <option value="int">Turkey</option>
                                <option value="int">Turkmenistan</option>
                                <option value="int">Turks-Caicos Islands</option>
                                <option value="int">Tuvalu</option>
                                <option value="int">Uganda</option>
                                <option value="int">Ukraine</option>
                                <option value="int">United Arab Emirates</option>
                                <option value="int">United Kingdom</option>
                                <option value="int">Uruguay</option>
                                <option value="int">Uzbekistan</option>
                                <option value="int">Vanuatu</option>
                                <option value="int">Vatican City</option>
                                <option value="int">Venezuela</option>
                                <option value="int">Vietnam</option>
                                <option value="int">Western Sahara</option>
                                <option value="int">Yemen</option>
                                <option value="int">Zambia</option>
                                <option value="int">Zimbabwe</option>
                            </select>
                        </div>

                        <div class="USAtv_no_selection" style="text-align: left;">
                            <strong>Please select your country for pricing ($99 U.S., $169 international)</strong><br><br>
                        </div>
                        <div class="USAtv" style="display: none;">
                            <label class="all-access" style="font-family:'National', Helvetica, Arial, sans-serif;">
                                <input type="radio" name="cds_term_value" value="1" checked="">
                                <span class="red">YES!</span> I want a <strong>one-year All-Access subscription at the discounted rate of $<span class="US_price">0.00</span>.</strong> I'll receive one year of full access to HBR.org and Subscriber Exclusives, six issues of the print and iPad®/Android™ tablet editions, plus<strong><span class="blue">&nbsp;7&nbsp;FREE&nbsp;GIFTS</span></strong>.
                            </label>
                        </div>

                        <div class="Canadatv" style="display: none;">
                            <label class="all-access" style="font-family:'National', Helvetica, Arial, sans-serif;">
                                <input type="radio" name="cds_term_value" value="2">
                                <span class="red">YES!</span> I want a <strong>one-year All-Access subscription at the discounted rate of $<span class="CAN_price">0.00</span>.</strong> I'll receive one year of full access to HBR.org and Subscriber Exclusives, six issues of the print and iPad®/Android™ tablet editions, plus<strong><span class="blue">&nbsp;7&nbsp;FREE&nbsp;GIFTS</span></strong>.
                            </label>
                        </div>

                        <input name="cds_name" placeholder="Full Name" maxlength="27" value="">
                        <input name="cds_address_1" type="text" placeholder="Address 1" maxlength="27" value="">
                        <input name="cds_address_2" type="text" placeholder="Address 2" maxlength="27" value="">
                        <input name="cds_city" type="text" placeholder="City" maxlength="13" value="">
                        <div class="styled-select slate state" id="cds_state">
                            <select name="cds_state">
                                <option value="" selected="" class="United States">State</option>

                            </select>
                        </div>
                        <input name="cds_zip" type="text" class="zip-code" id="geo" placeholder="Zip Code" maxlength="6" value="">
                        <input name="cds_email" type="email" placeholder="Email" maxlength="50" value="">
                        <p class="renewal"><strong>*Email address is required to gain archive, Insider newsletter, iPad® and Android™ access. <em>Harvard Business Review</em> will not sell your email address to any third parties. View our <a href="http://hbr.org/corporate/privacy-policy" target="_blank">privacy policy</a>.</strong></p>
                        <div class="offer-checks">
                            <input type="checkbox" name="cds_opt_in1" value="Y" checked="">Send me special offers from <i>Harvard Business Review</i>.<br>
                            <input type="checkbox" name="cds_opt_in2" value="Y" checked="">Send me special offers from carefully selected vendors.<br>
                        </div>
                        <div class="next action-button">
                            <input type="button" name="next" class="next-text" value="Next Step">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </div>
                        <div style="height:65px;"></div>
                    </fieldset>
                    <!-- payment -->
                    <fieldset data-check-id="2">
                        <p>Please enter your payment information below. We&nbsp;will charge your card and enroll you in the Subscriber's Automatic Renewal Program described below.</p>
                        <label class="pay-time"><input type="radio" name="tv" value="1" checked=""><strong>I'll pay now.</strong></label>
                        <div class="styled-select slate credit-card">
                            <select name="cds_pay_type">
                                <option value="" selected="">Credit Card</option>
                                <option value="2">Visa</option>
                                <option value="1">Master Card</option>
                                <option value="5">Discover</option>
                                <option value="3">American Express</option>
                            </select>
                        </div>
                        <div class="cards">
                            <img src="images/layout1/img/visa.jpg" width="25">
                            <img src="images/layout1/img/mastercard.png" width="25">
                            <img src="images/layout1/img/amex.jpg" width="25">
                            <img src="images/layout1/img/discover.jpg" width="25">
                        </div>
                        <input type="text" class="card-number" name="cds_cc_number" maxlength="16" autocomplete="off" placeholder="Card #" value="">
                        <span class="expiration-date">Expiration:</span>
                        <div class="styled-select slate month">
                            <select name="cds_cc_exp_month">
                                <option value="" disabled="" selected="">Exp Month</option>
                                <option value="01">01 - Jan</option>
                                <option value="02">02 - Feb</option>
                                <option value="03">03 - Mar</option>
                                <option value="04">04 - Apr</option>
                                <option value="05">05 - May</option>
                                <option value="06">06 - Jun</option>
                                <option value="07">07 - Jul</option>
                                <option value="08">08 - Aug</option>
                                <option value="09">09 - Sep</option>
                                <option value="10">10 - Oct</option>
                                <option value="11">11 - Nov</option>
                                <option value="12">12 - Dec</option>
                            </select>
                        </div>
                        <div class="styled-select slate year">
                            <select name="cds_cc_exp_year">
                                <option value="" selected="">Exp Year</option>
                                <option value="17">2017</option>
                                <option value="18">2018</option>
                                <option value="19">2019</option>
                                <option value="20">2020</option>
                                <option value="21">2021</option>
                                <option value="22">2022</option>
                                <option value="23">2023</option>
                                <option value="24">2024</option>
                                <option value="25">2025</option>
                                <option value="26">2026</option>
                                <option value="27">2027</option>
                                <option value="28">2028</option>
                                <option value="29">2029</option>
                                <option value="30">2030</option>
                            </select>
                        </div>
                        <div class="row" style="margin-top:0px;">
                            <div class="col-xs-4" style="padding-right:5px;"><input name="cds_cc_security_code" autocomplete="off" type="text" maxlength="4" placeholder="CVV" value=""></div>
                            <div class="col-xs-3" style="padding-left:0px;text-align:left"><span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-container="body" data-toggle="popover" data-placement="top" style="font-size:20px;color:#a90533;cursor:pointer;" data-original-title="" title=""></span></div>
                        </div>
                        <label class="pay-time"><input type="radio" name="tv" value="2"><strong>Bill me later.</strong></label>
                        <p class="renewal"><strong>Subscriber's Automatic Renewal Program:</strong> We will continue to renew your <i>Harvard Business Review</i> subscription, without interruption, until you tell us to stop. Each year, prior to the end of your subscription term, you'll receive a reminder notice and then, before each new term, we will charge your credit/debit card account stating the term and rate then in effect. You may cancel at any time during your subscription by contacting customer service and will receive a full refund on all undelivered issues. If your credit/debit card account cannot be charged, we will bill you directly&nbsp;instead.</p>
                        <div class="previous action-button">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <input type="button" name="previous" class="next-text" value="Previous">
                        </div>
                        <div class="send action-button">
                            <input type="submit" id="myButton" name="send" class="next-text" value="Next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </div>
                        <div style="height:45px;"></div>
                    </fieldset>
                    <fieldset>
                        <h4>Thank You!</h4>
                        <p>Your order has been processed. Your first issue will arrive shortly to the address below.</p>
                        <hr class="confirm-top">
                        <p class="confirmation"><strong>Johnathan Smith</strong></p>
                        <p class="confirmation"><strong>456 Main Street Apt. #1F</strong></p>
                        <p class="confirmation"><strong>Brooklyn, NY 11221</strong></p>
                        <hr class="confirm-bottom">
                        <p class="renewal"><strong>Allow 4&nbsp;-&nbsp;8 weeks for delivery of your first issue.</strong></p>
                        <p class="renewal"><strong>Harvard Business Review is published six times per year.</strong></p>
                        <p class="renewal"><strong>Applicable sales tax will apply.</strong></p>
                        <p class="renewal"><strong>You may cancel at any time and receive a full refund on the remainder of your subscription.</strong></p>
                        <p class="renewal"><strong>iPad is a trademark of Apple Inc., registered in the U.S. and other countries.</strong></p>
                        <p class="renewal"><strong>Android is a trademark of Google Inc.</strong></p>
                        <p></p>

                        <div class="next action-button">
                            <input type="button" id="hbrButton" name="gotohbr" class="next-text" onclick="location.href='http://hbr.org';" value="go to hbr.org">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </div>
                        <div style="height:45px;"></div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>

<script type="text/javascript">_satellite.pageBottom();</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>