
@{
    Html.RenderPartial("NaijaReviewHeader");
}






@{
    ViewBag.Title = "TheLatest";
}

<div id="" class="component" data-order="3" data-type="static-content" data-moveable="false" data-params="document=poster-header">
    <section class="section clearfix">    <div class="row">     <div class="content-area column mt-large2 mbs">      <h1 class="navigation-header xxxlarge-hed subheader line-height-very-tight lighter-gray nowrap">The Latest</h1>     </div>    </div>   </section>   <hr class="mvn">
</div>
<div id="" class="component" data-order="4" data-type="webscript" data-moveable="false" data-params="region=external-list;list=latest;unlimited=true">
    <stream-list class="stream-list" data-ads-enabled="true" data-allow-unlimited="true" data-stream-endpoint="components/external-list/latest" data-page-context="page.external-list.the-latest" data-total-elements="100">
        <ul>

            <li class="stream-entry">
                <div class="row">
                    <div class="content-area column">
                        <stream-item class="stream-item overflow-hidden"
                                     data-id="tag:blogs.harvardbusiness.org,2007-03-31:999.185351"
                                     data-title="Get the Actionable Feedback You Need to Get Promoted"
                                     data-url="/2017/10/get-the-actionable-feedback-you-need-to-get-promoted"
                                     data-topic="Receiving feedback"
                                     data-authors="Sabina Nawaz"
                                     data-content-type="Digital Article"
                                     data-content-image="/resources/images/article_assets/2017/10/oct17-31-511823705-Andrew-Hays-EyeEm-383x215.jpg"
                                     data-summary="Ask questions that require specific answers."
                                     data-list-price="">
                            <div class="stream-image">
                                <figure>
                                    <a href="/2017/10/get-the-actionable-feedback-you-need-to-get-promoted"><img src="/resources/images/article_assets/2017/10/oct17-31-511823705-Andrew-Hays-EyeEm-383x215.jpg" alt="" /></a>
                                </figure>
                            </div>

                            <h3 class="hed"><a href="/2017/10/get-the-actionable-feedback-you-need-to-get-promoted">Get the Actionable Feedback You Need to Get Promoted</a></h3>

                            <!-- item info -->
                            <div class="stream-item-info">
                                <a href="/topic/receiving-feedback" class="topic">Receiving feedback</a>
                                <span class="content-type">Digital Article</span>
                                <ul class="byline byline-list"><li>Sabina Nawaz</li></ul>
                            </div>

                            <!-- product price/add to cart -->
                            <div class="stream-item-price">
                            </div>

                            <div class="dek">Ask questions that require specific answers.</div>

                            <ul class="stream-utility plain-inline-list">
                                <!-- utility -->
                                <li class="utility"><a href="#" js-target="save-flyout"><i class="icon icon-file-text-o"></i> Save</a></li>

                                <li class="utility"><a href="#" js-target="share-flyout"><i class="icon icon-share-square-o"></i> Share</a></li>



                                <li class="utility pubdate"><time>October 31, 2017</time></li>

                            </ul>
                        </stream-item>
                    </div>
                </div>
            </li>

            <li class="stream-entry">
                <div class="row">
                    <div class="content-area column">
                        <stream-item class="stream-item overflow-hidden"
                                     data-id="tag:blogs.harvardbusiness.org,2007-03-31:999.186257"
                                     data-title="Why COOs Should Think Like Behavioral Economists"
                                     data-url="/2017/10/why-coos-should-think-like-behavioral-economists"
                                     data-topic="Behavioral economics"
                                     data-authors="Geoff Donaker;Michael Luca"
                                     data-content-type="Digital Article"
                                     data-content-image="/resources/images/article_assets/2017/10/oct17-31-hbr-dave-wheeler-entrepreneurship-01-383x215.jpg"
                                     data-summary="The job is about shaping people’s choices."
                                     data-list-price="">
                            <div class="stream-image">
                                <figure>
                                    <a href="/2017/10/why-coos-should-think-like-behavioral-economists"><img src="/resources/images/article_assets/2017/10/oct17-31-hbr-dave-wheeler-entrepreneurship-01-383x215.jpg" alt="" /></a>
                                </figure>
                            </div>

                            <h3 class="hed"><a href="/2017/10/why-coos-should-think-like-behavioral-economists">Why COOs Should Think Like Behavioral Economists</a></h3>

                            <!-- item info -->
                            <div class="stream-item-info">
                                <a href="/topic/behavioral-economics" class="topic">Behavioral economics</a>
                                <span class="content-type">Digital Article</span>
                                <ul class="byline byline-list"><li>Geoff Donaker</li><li>Michael Luca</li></ul>
                            </div>

                            <!-- product price/add to cart -->
                            <div class="stream-item-price">
                            </div>

                            <div class="dek">The job is about shaping people’s choices.</div>

                            <ul class="stream-utility plain-inline-list">
                                <!-- utility -->
                                <li class="utility"><a href="#" js-target="save-flyout"><i class="icon icon-file-text-o"></i> Save</a></li>

                                <li class="utility"><a href="#" js-target="share-flyout"><i class="icon icon-share-square-o"></i> Share</a></li>



                                <li class="utility pubdate"><time>October 31, 2017</time></li>

                            </ul>
                        </stream-item>
                    </div>
                </div>
            </li>

            <li class="stream-entry">
                <div class="row">
                    <div class="content-area column">
                        <stream-item class="stream-item overflow-hidden"
                                     data-id="tag:blogs.harvardbusiness.org,2007-03-31:999.186451"
                                     data-title="In the Workplace of the NFL, the Players Hold the Upper Hand"
                                     data-url="/2017/10/in-the-workplace-of-the-nfl-the-players-hold-the-upper-hand"
                                     data-topic="Labor"
                                     data-authors="Roger L. Martin"
                                     data-content-type="Digital Article"
                                     data-content-image="/resources/images/article_assets/2017/10/oct17-31-853036160-John-Leyba-383x215.jpg"
                                     data-summary="Soon, team owners will realize it."
                                     data-list-price="">
                            <div class="stream-image">
                                <figure>
                                    <a href="/2017/10/in-the-workplace-of-the-nfl-the-players-hold-the-upper-hand"><img src="/resources/images/article_assets/2017/10/oct17-31-853036160-John-Leyba-383x215.jpg" alt="" /></a>
                                </figure>
                            </div>

                            <h3 class="hed"><a href="/2017/10/in-the-workplace-of-the-nfl-the-players-hold-the-upper-hand">In the Workplace of the NFL, the Players Hold the Upper Hand</a></h3>

                            <!-- item info -->
                            <div class="stream-item-info">
                                <a href="/topic/labor" class="topic">Labor</a>
                                <span class="content-type">Digital Article</span>
                                <ul class="byline byline-list"><li>Roger L. Martin</li></ul>
                            </div>

                            <!-- product price/add to cart -->
                            <div class="stream-item-price">
                            </div>

                            <div class="dek">Soon, team owners will realize it.</div>

                            <ul class="stream-utility plain-inline-list">
                                <!-- utility -->
                                <li class="utility"><a href="#" js-target="save-flyout"><i class="icon icon-file-text-o"></i> Save</a></li>

                                <li class="utility"><a href="#" js-target="share-flyout"><i class="icon icon-share-square-o"></i> Share</a></li>



                                <li class="utility pubdate"><time>October 31, 2017</time></li>

                            </ul>
                        </stream-item>
                    </div>
                </div>
            </li>

            <li class="stream-entry">
                <div class="row">
                    <div class="content-area column">
                        <stream-item class="stream-item overflow-hidden"
                                     data-id="tag:blogs.harvardbusiness.org,2007-03-31:999.186495"
                                     data-title="Astronaut Scott Kelly on Working in Space"
                                     data-url="/ideacast/2017/10/astronaut-scott-kelly-on-working-in-space"
                                     data-topic="Leadership"
                                     data-authors=""
                                     data-content-type="Audio"
                                     data-content-image="/resources/images/article_assets/2015/12/HBR-Ideacast-HP-feed-383x215.png"
                                     data-summary="Scott Kelly, a retired U.S. astronaut, spent 520 days in space over four missions. Working in outer space is a lot like working on earth, but with different challenges and in closer quarters. Kelly looks back on his 20 years of working for NASA, including being the commander of the International Space Station during his final, yearlong mission. He talks about the kind of cross-cultural collaboration and decision making he honed on the ISS, offering advice that leaders can use in space and on earth. His memoir is “Endurance: A Year in Space, a Lifetime of Discovery.”"
                                     data-list-price="">
                            <div class="stream-image">
                                <figure>
                                    <a href="/ideacast/2017/10/astronaut-scott-kelly-on-working-in-space"><img src="/resources/images/article_assets/2015/12/HBR-Ideacast-HP-feed-383x215.png" alt="" /></a>
                                </figure>
                            </div>

                            <h3 class="hed"><a href="/ideacast/2017/10/astronaut-scott-kelly-on-working-in-space">Astronaut Scott Kelly on Working in Space</a></h3>

                            <!-- item info -->
                            <div class="stream-item-info">
                                <a href="/topic/leadership" class="topic">Leadership</a>
                                <span class="content-type">Audio</span>
                            </div>

                            <!-- product price/add to cart -->
                            <div class="stream-item-price">
                            </div>

                            <div class="dek">Scott Kelly, a retired U.S. astronaut, spent 520 days in space over four missions. Working in outer space is a lot like working on earth, but with different challenges and in closer quarters. Kelly looks back on his 20 years of working for NASA, including being the commander of the International Space Station during his final, yearlong mission. He talks about the kind of cross-cultural collaboration and decision making he honed on the ISS, offering advice that leaders can use in space and on earth. His memoir is “Endurance: A Year in Space, a Lifetime of Discovery.”</div>

                            <ul class="stream-utility plain-inline-list">
                                <!-- utility -->
                                <li class="utility"><a href="#" js-target="save-flyout"><i class="icon icon-file-text-o"></i> Save</a></li>

                                <li class="utility"><a href="#" js-target="share-flyout"><i class="icon icon-share-square-o"></i> Share</a></li>



                                <li class="utility pubdate"><time>October 31, 2017</time></li>

                            </ul>
                        </stream-item>
                    </div>
                </div>
            </li>
            <li class="stream-entry" js-target="stream-ad-container">
                <aside class="backdrop-white">
                    <div class="row">
                        <div class="small-12 column text-center">
                            <div class="mvs ad-container">
                                <div id='DFP_FEED_pos5_tab1'>
                                <script type='text/javascript'>googletag.cmd.push(function() { googletag.display('DFP_FEED_pos5_tab1'); });</script></div>
                            </div>
                        </div>
                    </div>
                </aside>
            </li>

            <li class="stream-entry">
                <div class="row">
                    <div class="content-area column">
                        <stream-item class="stream-item overflow-hidden"
                                     data-id="tag:blogs.harvardbusiness.org,2007-03-31:999.186328"
                                     data-title="Giving Doctors What They Need to Avoid Burnout"
                                     data-url="/2017/10/giving-doctors-what-they-need-to-avoid-burnout"
                                     data-topic="Leadership"
                                     data-authors="Len Schlesinger;Josh Gray"
                                     data-content-type="Digital Article"
                                     data-content-image="/resources/images/article_assets/2017/10/oct17-31-78394921-ben-edwards-383x215.jpg"
                                     data-summary="It doesn’t mean lowering performance standards."
                                     data-list-price="">
                            <div class="stream-image">
                                <figure>
                                    <a href="/2017/10/giving-doctors-what-they-need-to-avoid-burnout"><img src="/resources/images/article_assets/2017/10/oct17-31-78394921-ben-edwards-383x215.jpg" alt="" /></a>
                                </figure>
                            </div>

                            <h3 class="hed"><a href="/2017/10/giving-doctors-what-they-need-to-avoid-burnout">Giving Doctors What They Need to Avoid Burnout</a></h3>

                            <!-- item info -->
                            <div class="stream-item-info">
                                <a href="/topic/leadership" class="topic">Leadership</a>
                                <span class="content-type">Digital Article</span>
                                <ul class="byline byline-list"><li>Len Schlesinger</li><li>Josh Gray</li></ul>
                            </div>

                            <!-- product price/add to cart -->
                            <div class="stream-item-price">
                            </div>

                            <div class="dek">It doesn’t mean lowering performance standards.</div>

                            <ul class="stream-utility plain-inline-list">
                                <!-- utility -->
                                <li class="utility"><a href="#" js-target="save-flyout"><i class="icon icon-file-text-o"></i> Save</a></li>

                                <li class="utility"><a href="#" js-target="share-flyout"><i class="icon icon-share-square-o"></i> Share</a></li>



                                <li class="utility pubdate"><time>October 31, 2017</time></li>

                            </ul>
                        </stream-item>
                    </div>
                </div>
            </li>

            <li class="stream-entry backdrop-cool-4 sponsored flip-stream-items">
                <div class="row">
                    <div class="content-area column">
                        <div class="nudge-up"><div class="mbm"><span class="slug--small navy-blue inverted pas font-light"><b>SPONSOR CONTENT</b> FROM BRIGHTLINE</span></div></div>
                        <stream-item class="stream-item overflow-hidden"
                                     data-id="tag:blogs.harvardbusiness.org,2007-03-31:999.185904"
                                     data-title="Close the Gap Between Designing and Delivering a Strategy That Works"
                                     data-url="/sponsored/2017/10/close-the-gap-between-designing-and-delivering-a-strategy-that-works"
                                     data-topic="Strategy"
                                     data-authors=""
                                     data-content-type="Sponsor Content"
                                     data-content-image="/resources/images/article_assets/2017/10/Brightline.Only1in10-383x215.jpg"
                                     data-summary="Sponsor Content from Brightline."
                                     data-list-price="">
                            <div class="stream-image">
                                <figure>
                                    <a href="/sponsored/2017/10/close-the-gap-between-designing-and-delivering-a-strategy-that-works"><img src="/resources/images/article_assets/2017/10/Brightline.Only1in10-383x215.jpg" alt="" /></a>
                                </figure>
                            </div>

                            <h3 class="hed"><a href="/sponsored/2017/10/close-the-gap-between-designing-and-delivering-a-strategy-that-works">Close the Gap Between Designing and Delivering a Strategy That Works</a></h3>

                            <!-- item info -->
                            <div class="stream-item-info">
                                <a href="/topic/strategy" class="topic">Strategy</a>
                                <span class="content-type">Sponsor Content</span>
                            </div>

                            <!-- product price/add to cart -->
                            <div class="stream-item-price">
                            </div>

                            <div class="dek">Sponsor Content from Brightline.</div>

                            <ul class="stream-utility plain-inline-list">
                                <!-- utility -->
                                <li class="utility"><a href="#" js-target="save-flyout"><i class="icon icon-file-text-o"></i> Save</a></li>

                                <li class="utility"><a href="#" js-target="share-flyout"><i class="icon icon-share-square-o"></i> Share</a></li>



                                <li class="utility pubdate"><time>October 27, 2017</time></li>

                            </ul>
                        </stream-item>
                    </div>
                </div>
            </li>

            <li class="stream-entry">
                <div class="row">
                    <div class="content-area column">
                        <stream-item class="stream-item overflow-hidden"
                                     data-id="tag:blogs.harvardbusiness.org,2007-03-31:999.184283"
                                     data-title="How the Great Recession Changed Banking"
                                     data-url="/2017/10/how-the-great-recession-changed-banking"
                                     data-topic="Economy"
                                     data-authors="Christian Edelmann;Patrick Hunt"
                                     data-content-type="Digital Article"
                                     data-content-image="/resources/images/article_assets/2017/10/oct17-31-71533329-CSA-Plastock-383x215.jpg"
                                     data-summary="And how technology is changing it now."
                                     data-list-price="">
                            <div class="stream-image">
                                <figure>
                                    <a href="/2017/10/how-the-great-recession-changed-banking"><img src="/resources/images/article_assets/2017/10/oct17-31-71533329-CSA-Plastock-383x215.jpg" alt="" /></a>
                                </figure>
                            </div>

                            <h3 class="hed"><a href="/2017/10/how-the-great-recession-changed-banking">How the Great Recession Changed Banking</a></h3>

                            <!-- item info -->
                            <div class="stream-item-info">
                                <a href="/topic/economy" class="topic">Economy</a>
                                <span class="content-type">Digital Article</span>
                                <ul class="byline byline-list"><li>Christian Edelmann</li><li>Patrick Hunt</li></ul>
                            </div>

                            <!-- product price/add to cart -->
                            <div class="stream-item-price">
                            </div>

                            <div class="dek">And how technology is changing it now.</div>

                            <ul class="stream-utility plain-inline-list">
                                <!-- utility -->
                                <li class="utility"><a href="#" js-target="save-flyout"><i class="icon icon-file-text-o"></i> Save</a></li>

                                <li class="utility"><a href="#" js-target="share-flyout"><i class="icon icon-share-square-o"></i> Share</a></li>



                                <li class="utility pubdate"><time>October 31, 2017</time></li>

                            </ul>
                        </stream-item>
                    </div>
                </div>
            </li>

            <li class="stream-entry">
                <div class="row">
                    <div class="content-area column">
                        <stream-item class="stream-item overflow-hidden"
                                     data-id="tag:blogs.harvardbusiness.org,2007-03-31:999.185829"
                                     data-title="To Sound Like a Leader, Think About What You Say, and How and When You Say It"
                                     data-url="/2017/10/to-sound-like-a-leader-think-about-what-you-say-and-how-and-when-you-say-it"
                                     data-topic="Leadership development"
                                     data-authors="Rebecca Shambaugh"
                                     data-content-type="Digital Article"
                                     data-content-image="/resources/images/article_assets/2017/10/oct17-31-steven-moore-Communications-final-383x215.jpg"
                                     data-summary="Executive voice is a skill."
                                     data-list-price="">
                            <div class="stream-image">
                                <figure>
                                    <a href="/2017/10/to-sound-like-a-leader-think-about-what-you-say-and-how-and-when-you-say-it"><img src="/resources/images/article_assets/2017/10/oct17-31-steven-moore-Communications-final-383x215.jpg" alt="" /></a>
                                </figure>
                            </div>

                            <h3 class="hed"><a href="/2017/10/to-sound-like-a-leader-think-about-what-you-say-and-how-and-when-you-say-it">To Sound Like a Leader, Think About What You Say, and How and When You Say It</a></h3>

                            <!-- item info -->
                            <div class="stream-item-info">
                                <a href="/topic/leadership-development" class="topic">Leadership development</a>
                                <span class="content-type">Digital Article</span>
                                <ul class="byline byline-list"><li>Rebecca Shambaugh</li></ul>
                            </div>

                            <!-- product price/add to cart -->
                            <div class="stream-item-price">
                            </div>

                            <div class="dek">Executive voice is a skill.</div>

                            <ul class="stream-utility plain-inline-list">
                                <!-- utility -->
                                <li class="utility"><a href="#" js-target="save-flyout"><i class="icon icon-file-text-o"></i> Save</a></li>

                                <li class="utility"><a href="#" js-target="share-flyout"><i class="icon icon-share-square-o"></i> Share</a></li>



                                <li class="utility pubdate"><time>October 31, 2017</time></li>

                            </ul>
                        </stream-item>
                    </div>
                </div>
            </li>
            <!-- load more -->
            <li class="stream-entry">
                <div class="row">
                    <div class="content-area column">
                        <div class="load-ten-more" js-target="load-ten-more">
                            <a href="#" js-target="load-ten-more-link">
                                <i class="icon icon-load-more mrs"></i> <strong>Load more items</strong>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </stream-list>
</div>
<div id="" class="component" data-order="9" data-type="webscript" data-moveable="false" data-params="region=newsletter-recommended">
    <div class="row cushion">
        <div class="content-area">
            <h4 class="section-label mbl">Subscribe to HBR Newsletters: <strong>Keep Informed</strong></h4>
            <div class="flex-row-wrap newsletter-tile-container newsletter-no-wrap">
                <div class="flex-col justify-between has-borders mvm pam backdrop-white ">
                    <div>
                        <div style="color: #FB6405">
                            <svg class="size-64x64 svg-fill-current"><use xlink:href="/resources/css/images/icons.svg#gears"></use></svg>
                        </div>
                        <h3>Management Tip of the Day</h3>
                        <div class="dek mbm">Quick, practical management advice to help you do your job better, delivered weekdays.</div>
                    </div>
                    <follow-subscribe class="follow-topic " data-name="Management Tip of the Day" data-activity="newsletter">
                        <div class="follow-this"><a href="#" js-target="enable-this" data-method="subscribe"><i class="icon icon-follow-this"></i> <strong>Sign up</strong></a></div>
                        <div class="unfollow-this"><a href="#" js-target="disable-this" data-method="unsubscribe"><i class="icon icon-unfollow-this"></i> <strong>Signed up</strong></a></div>
                    </follow-subscribe>
                </div>
                <div class="flex-col justify-between has-borders mvm pam backdrop-white ">
                    <div>
                        <div style="color: #03C1ED">
                            <svg class="size-64x64 svg-fill-current"><use xlink:href="/resources/css/images/icons.svg#alarm-clock"></use></svg>
                        </div>
                        <h3>The Daily Alert</h3>
                        <div class="dek mbm">Links to all the digital articles published in the last 24 hours.</div>
                    </div>
                    <follow-subscribe class="follow-topic " data-name="The Daily Alert" data-activity="newsletter">
                        <div class="follow-this"><a href="#" js-target="enable-this" data-method="subscribe"><i class="icon icon-follow-this"></i> <strong>Sign up</strong></a></div>
                        <div class="unfollow-this"><a href="#" js-target="disable-this" data-method="unsubscribe"><i class="icon icon-unfollow-this"></i> <strong>Signed up</strong></a></div>
                    </follow-subscribe>
                </div>
                <div class="flex-col justify-between has-borders mvm pam backdrop-white ">
                    <div>
                        <div style="color: #0284FD">
                            <svg class="size-64x64 svg-fill-current"><use xlink:href="/resources/css/images/icons.svg#fish"></use></svg>
                        </div>
                        <h3>Leadership</h3>
                        <div class="dek mbm">Must-reads from our most recent articles on leadership and managing people, delivered once a month.</div>
                    </div>
                    <follow-subscribe class="follow-topic " data-name="Leadership" data-activity="newsletter">
                        <div class="follow-this"><a href="#" js-target="enable-this" data-method="subscribe"><i class="icon icon-follow-this"></i> <strong>Sign up</strong></a></div>
                        <div class="unfollow-this"><a href="#" js-target="disable-this" data-method="unsubscribe"><i class="icon icon-unfollow-this"></i> <strong>Signed up</strong></a></div>
                    </follow-subscribe>
                </div>
                <div class="flex-col justify-between has-borders mvm pam backdrop-white hide-medium hide-large">
                    <div>
                        <div style="color: #B20303">
                            <svg class="size-64x64 svg-fill-current"><use xlink:href="/resources/css/images/icons.svg#magazine"></use></svg>
                        </div>
                        <h3>Best of the Issue</h3>
                        <div class="dek mbm">The editor of Harvard Business Review picks highlights from each new issue of the magazine.</div>
                    </div>
                    <follow-subscribe class="follow-topic " data-name="Best of the Issue" data-activity="newsletter">
                        <div class="follow-this"><a href="#" js-target="enable-this" data-method="subscribe"><i class="icon icon-follow-this"></i> <strong>Sign up</strong></a></div>
                        <div class="unfollow-this"><a href="#" js-target="disable-this" data-method="unsubscribe"><i class="icon icon-unfollow-this"></i> <strong>Signed up</strong></a></div>
                    </follow-subscribe>
                </div>
            </div>
            <div class="load-ten-more mtl">
                <a href="/email-newsletters">
                    <strong>See all newsletters</strong> <i class="icon icon-caret-right baseline-shift-down"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div id="" class="component" data-order="97" data-type="webscript" data-moveable="false" data-params="region=openx;location=partner-center">
    <section class="partner-center row clearfix">
        <div class="content-area column cushion">
            <div class="row">
                <div class="small-12 column">
                    <h4 class="section-label">Partner Center</h4>
                </div>
            </div>
            <div class="row collapse">
                <div class="small-6 medium-3 column">
                    <div class="ad-container ad-230">
                        <div id='DFP_PC_pos11'>
                        <script type='text/javascript'>googletag.cmd.push(function() { googletag.display('DFP_PC_pos11'); });</script></div>
                    </div>
                </div>
                <div class="small-6 medium-3 column">
                    <div class="ad-container ad-230">
                        <div id='DFP_PC_pos12'>
                        <script type='text/javascript'>googletag.cmd.push(function() { googletag.display('DFP_PC_pos12'); });</script></div>
                    </div>
                </div>
                <div class="small-6 medium-3 column">
                    <div class="ad-container ad-230">
                        <div id='DFP_PC_pos13'>
                        <script type='text/javascript'>googletag.cmd.push(function() { googletag.display('DFP_PC_pos13'); });</script></div>
                    </div>
                </div>
                <div class="small-6 medium-3 column">
                    <div class="ad-container ad-230">
                        <div id='DFP_PC_pos14'>
                        <script type='text/javascript'>googletag.cmd.push(function() { googletag.display('DFP_PC_pos14'); });</script></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div id="" class="component" data-order="98" data-type="webscript" data-moveable="false" data-params="region=global-nav">
    <!-- Global Navigation -->
    <nav class="global-nav backdrop-off-white flex-col justify-between ptm hide-for-print" data-state="" data-page="the-latest">
        <div class="phl">
            <a href="/" class="is-block mtm mbs hide-medium-down"><img src="/resources/css/images/HBR_logo_black.svg" alt="Harvard Business Review"></a>
            <a href="/the-latest" class="flex-row align-items-center link--black has-border-bottom tap-target-height" track-target="global-nav-link--the-latest">THE LATEST</a>
            <a href="/most-popular" class="flex-row align-items-center link--black has-border-bottom tap-target-height" track-target="global-nav-link--most-popular">MOST POPULAR</a>
            <a href="/topics" class="flex-row align-items-center link--black has-border-bottom tap-target-height" track-target="global-nav-link--topics">ALL TOPICS</a>
            <a href="/video" class="flex-row align-items-center link--black has-border-bottom tap-target-height" track-target="global-nav-link--video">VIDEO</a>
            <a href="/magazine" class="flex-row align-items-center link--black has-border-bottom tap-target-height" track-target="global-nav-link--magazine">MAGAZINE ARCHIVE</a>
            <a href="/store" class="flex-row align-items-center link--black has-border-bottom tap-target-height" track-target="global-nav-link--store">BUY HBR PRODUCTS</a>
            <a href="/visual-library" class="flex-row align-items-center link--black has-border-bottom tap-target-height" track-target="global-nav-link--visual-library" data-sign-in="true">SUBSCRIBER EXCLUSIVES</a>
            <a href="/my-library" class="flex-row align-items-center link--black  tap-target-height" track-target="global-nav-link--my-library" data-sign-in="true">MY LIBRARY</a>
        </div>

        <personalization-placement class="personalization-placement" data-placement-id="mag_cover_engage">
            <div class="flex-row justify-center hide-small">
                <a href="/subscribe" target="_blank"><img class="nav-magazine-cover" src="/resources/images/covers/latest.png" alt="Subscribe" /></a>
            </div>
            <a href="/subscribe" target="_blank" class="is-block text-center slug--small light-gray inverted font-tight line-height-tight pvm phl">Subscribe + Save!</a>
        </personalization-placement>
    </nav>
</div>