
@{
    ViewBag.Title = "TheLatest";
}

<div id="" class="component" data-order="3" data-type="static-content" data-moveable="false" data-params="document=poster-header">
    <section class="section clearfix">    <div class="row">     <div class="content-area column mt-large2 mbs">      <h1 class="navigation-header xxxlarge-hed subheader line-height-very-tight lighter-gray nowrap" style="font-size: 168.364px;">The Latest</h1>     </div>    </div>   </section>   <hr class="mvn">
</div>