@using DigitalAfricaMediumClient.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

 <!-- LOGIN FORM SECTION -->
<section class="text-white">
    <div class="cover-4"></div>
    <!-- Login area -->
    <!-- .container -->
    <div class="container">
        <!-- .row -->
        <div class="row">
            <!-- .col-md-12 -->
            <div class="col-md-12">
                <!-- .row -->
                <div class="row">
                    <div class="col-md-4 col-md-offset-8 col-lg-offset-8 mar-bottom-md">
                        <h1 class="text-uppercase text-primary wow fadeInDown text-center" data-wow-duration=".8s" data-wow-delay=".2s">Take a tour</h1>
                        <p class="text-center">
                            <i class="text-muted text-capitalize">Security is the degree of resistance.</i>
                        </p>
                        <div class="text-center">
                            <span class="separator">
                                <i class="icon icon-small iline2-lock22 text-primary no-margin"></i>
                            </span>
                        </div>
                        <p class="wow fadeInUp text-center" data-wow-duration="1s" data-wow-delay=".3s">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore.
                        </p>
                        <form action="/" method="post" class="mar-top-lg error wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s" novalidate="" name="loginForm">
                            <div class="form-group control-group">
                                <input type="email" class="form-control input-lg" id="email-address" placeholder="E-mail* :" required="" data-validation-required-message="Please enter your email address." />
                                <p class="help-block"></p>
                            </div>
                            <div class="form-group control-group">
                                <input type="password" class="form-control input-lg" id="password" placeholder="Password* :" required="" data-validation-required-message="Please enter your password." />
                                <p class="help-block"></p>
                            </div>
                            <div class="checkbox control-group">
                                <label>
                                    <input type="checkbox" name="rememberme" id="rememberme" /> Remember me.
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary btn-full btn-lg">Submit</button>
                        </form>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    <!--/ Login area -->
</section>
<!-- LOGIN FORM SECTION END -->
